<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysInquiryMapper">
    
    <resultMap type="SysInquiry" id="SysInquiryResult">
        <result property="inquiryId"    column="inquiry_id"    />
        <result property="buyerId"    column="buyer_id"    />
        <result property="productId"    column="product_id"    />
        <result property="inquiryDate"    column="inquiry_date"    />
        <result property="responseDate"    column="response_date"    />
        <result property="feedbackStatus"    column="feedback_status"    />
        <result property="priceRmb"    column="price_RMB"    />
        <result property="priceUsd"    column="price_USD"    />
        <result property="RMBQuoteUnit"    column="RMB_quote_unit"    />
        <result property="unitprice"    column="unitprice"    />
        <result property="unitpriceUnit"    column="unitprice_unit"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysInquiryVo">
        select inquiry_id, buyer_id, product_id, inquiry_date, response_date, feedback_status, price_RMB, price_USD, del_flag, remark from sys_inquiry
    </sql>
    <select id="selectInquiryResultLatest" resultType="com.ruoyi.system.domain.vo.InquiryVo">
        select si.inquiry_id as inquiryId,si.inquiry_date as inquiryDate,si.response_date as responseDate,
               si.feedback_status as feedbackStatus,si.price_RMB as priceRmb,si.RMB_quote_unit as RMBQuoteUnit,
               a.product_id AS productId,a.supplier_id AS supplierId,a.domestic_imported_type AS domesticImportedType,
               a.specifications as specifications,a.product_model as productModel,a.warehouse_address as warehouseAddress,
               a.origin as origin,a.mark as mark
        <if test="flag == false">,ss.supplier_name_cn as supplierNameCn,ss.supplier_name_en as supplierNameEn,ss.supplier_name_own as supplierNameOwn</if>
        from sys_product a
        join  sys_inquiry si on si.product_id = a.product_id
        <if test="flag == false">left join sys_supplier ss on a.supplier_id=ss.supplier_id</if>
        <where>
            <if test="flag == false">
                <!--如果他为false，说明是采购员或者管理员，需要供应商名字查询 -->
                <if test="supplierName != null  and supplierName != ''"> and ss.supplier_name_cn like concat('%', #{supplierName}, '%')</if>
                <if test="supplierName != null  and supplierName != ''"> and ss.supplier_name_en like concat('%', #{supplierName}, '%')</if>
                <if test="supplierName != null  and supplierName != ''"> and ss.supplier_name_own like concat('%', #{supplierName}, '%')</if>
            </if>
            <if test="supplierId != null  and supplierId != ''"> and supplier_id = #{supplierId}</if>
            <if test="buyerId!=null"> and buyer_id = #{buyerId}</if>
            <if test="startInventory != null">and inventory &gt;= #{startInventory}</if>
            <if test="endInventory != null">and inventory &lt;= #{endInventory}</if>
            <if test="inventoryUnit != null  and inventoryUnit != ''">and inventory_unit = #{inventoryUnit}</if>
            <if test="minStartBatch != null">and start_batch &gt;= #{minStartBatch}</if>
            <if test="maxStartBatch != null">and start_batch &lt;= #{maxStartBatch}</if>
            <if test="batchUnit != null  and batchUnit != ''">and batch_unit = #{batchUnit}</if>
            <if test="origins != null and !origins.isEmpty()">
                AND origin IN
                <foreach collection="origins" item="origin" open="(" close=")" separator=",">
                    #{origin}
                </foreach>
            </if>
            <if test="cnPrimaryCategorys != null and !cnPrimaryCategorys.isEmpty()">
                AND cn_primary_category IN
                <foreach collection="cnPrimaryCategorys" item="cnPrimary" open="(" close=")" separator=",">
                    #{cnPrimary}
                </foreach>
            </if>
            <if test="cnSecondaryCategorys != null and !cnSecondaryCategorys.isEmpty()">
                AND cn_secondary_category IN
                <foreach collection="cnSecondaryCategorys" item="cnSecondary" open="(" close=")" separator=",">
                    #{cnSecondary}
                </foreach>
            </if>
            <if test="cnTertiaryCategorys != null and !cnTertiaryCategorys.isEmpty()">
                AND cn_tertiary_category IN
                <foreach collection="cnTertiaryCategorys" item="cnTertiary" open="(" close=")" separator=",">
                    #{cnTertiary}
                </foreach>
            </if>
            <if test="cnQuaternaryCategorys != null and !cnQuaternaryCategorys.isEmpty()">
                AND cn_quaternary_category IN
                <foreach collection="cnQuaternaryCategorys" item="cnQuaternary" open="(" close=")" separator=",">
                    #{cnQuaternary}
                </foreach>
            </if>
            <if test="cnFifthCategorys != null and !cnFifthCategorys.isEmpty()">
                AND cn_fifth_category IN
                <foreach collection="cnFifthCategorys" item="cnFifth" open="(" close=")" separator=",">
                    #{cnFifth}
                </foreach>
            </if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="domesticImportedType != null "> and domestic_imported_type = #{domesticImportedType}</if>
            <if test="quotationFlag != null "> and quotation_flag = #{quotationFlag}</if>
            <if test="sample != null">and sample=#{sample}</if>
            <if test="specifications == '抄码'">and specifications = '抄码'</if>
            <if test="specifications == '非抄码'">and specifications != '抄码'</if>
            <if test="status != null">and status=#{status}</if>
            <if test="storageMode !=null">and storage_mode=#{storageMode}</if>
            <if test="warehouseAddress!=null and warehouseAddress!=''">and warehouse_address like concat('%', #{warehouseAddress}, '%')</if>
            <if test="mainProduct != null">and main_product=#{mainProduct}</if>
            <if test="quoteStatus !=null">and quote_status=#{quoteStatus}</if>
            <if test="inquiryStatus !=null">and inquiry_status=#{inquiryStatus}</if>
            <if test="inquiryListFlag !=null">and inquiry_list_flag=#{inquiryListFlag}</if>
            <if test="quoteListFlag !=null">and quote_list_flag=#{quoteListFlag}</if>
            <if test="mark != null and mark != ''">and mark like concat('%', #{mark}, '%')</if>
            <if test="feedbackStatus != null">and si.feedback_status=#{feedbackStatus}</if>
            <if test="startInquiryDate != null">and si.inquiry_date &gt;=#{startInquiryDate}</if>
            <if test="endInquiryDate != null">and si.inquiry_date &lt;=#{endInquiryDate}</if>
            and si.del_flag=0
            <if test="history == false">
                and si.inquiry_date = (
                SELECT MAX(sub_si.inquiry_date)
                FROM sys_inquiry sub_si
                WHERE sub_si.product_id = a.product_id
                )
            </if>
        </where>
        order by si.inquiry_id
    </select>

    <select id="selectSysInquiryList" parameterType="SysInquiry" resultMap="SysInquiryResult">
        <include refid="selectSysInquiryVo"/>
        <where>  
            <if test="buyerId != null  and buyerId != ''"> and buyer_id = #{buyerId}</if>
            <if test="productId != null  and productId != ''"> and product_id = #{productId}</if>
            <if test="inquiryDate != null "> and inquiry_date = #{inquiryDate}</if>
            <if test="responseDate != null "> and response_date = #{responseDate}</if>
            <if test="feedbackStatus != null "> and feedback_status = #{feedbackStatus}</if>
            <if test="priceRmb != null "> and price_RMB = #{priceRmb}</if>
            <if test="priceUsd != null "> and price_USD = #{priceUsd}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where>
    </select>
    
    <select id="selectSysInquiryByInquiryId" parameterType="String" resultMap="SysInquiryResult">
        <include refid="selectSysInquiryVo"/>
        where inquiry_id = #{inquiryId}
    </select>
    <select id="selectInquiryTimes" resultType="java.lang.Integer">
        select count(product_id) from sys_inquiry where product_id=#{productId}
    </select>
    <select id="findLatestQuote" resultType="com.ruoyi.system.domain.SysSupplierPrice" parameterType="String">
        select unitprice as unitprice,unitprice_unit as unitpriceUnit, price_RMB as priceRmb,RMB_quote_unit as RMBQuoteUnit,
               price_USD as priceUsd,USD_quote_unit as USDQuoteUnit
        from sys_supplier_price where product_id=#{productId} and time=date(sysdate()) limit 1
    </select>

    <select id="selectAllByProductId" parameterType="String" resultMap="SysInquiryResult" >
        select *  from  sys_inquiry  where product_id=#{productId};
    </select>

    <insert id="insertSysInquiry" parameterType="SysInquiry">
        insert into sys_inquiry
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buyerId != null and buyerId != ''">buyer_id,</if>
            <if test="productId != null and productId != ''">product_id,</if>
            <if test="inquiryDate != null">inquiry_date,</if>
            <if test="responseDate != null">response_date,</if>
            <if test="feedbackStatus != null">feedback_status,</if>
            <if test="priceRmb != null">price_RMB,</if>
            <if test="priceUsd != null">price_USD,</if>
            <if test="RMBQuoteUnit != null and RMBQuoteUnit != ''">RMB_quote_unit,</if>
            <if test="unitprice != null">unitprice,</if>
            <if test="unitpriceUnit != null and unitpriceUnit != ''">unitprice_unit,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buyerId != null and buyerId != ''">#{buyerId},</if>
            <if test="productId != null and productId != ''">#{productId},</if>
            <if test="inquiryDate != null">#{inquiryDate},</if>
            <if test="responseDate != null">#{responseDate},</if>
            <if test="feedbackStatus != null">#{feedbackStatus},</if>
            <if test="priceRmb != null">#{priceRmb},</if>
            <if test="priceUsd != null">#{priceUsd},</if>
            <if test="RMBQuoteUnit != null and RMBQuoteUnit != ''">#{RMBQuoteUnit},</if>
            <if test="unitprice != null">#{unitprice},</if>
            <if test="unitpriceUnit != null and unitpriceUnit != ''">#{unitpriceUnit},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateSysInquiry" parameterType="SysInquiry">
        update sys_inquiry
        <trim prefix="SET" suffixOverrides=",">
            <if test="buyerId != null and buyerId != ''">buyer_id = #{buyerId},</if>
            <if test="productId != null and productId != ''">product_id = #{productId},</if>
            <if test="inquiryDate != null">inquiry_date = #{inquiryDate},</if>
            <if test="responseDate != null">response_date = #{responseDate},</if>
            <if test="feedbackStatus != null">feedback_status = #{feedbackStatus},</if>
            <if test="priceRmb != null">price_RMB = #{priceRmb},</if>
            <if test="priceUsd != null">price_USD = #{priceUsd},</if>
            <if test="RMBQuoteUnit != null">RMB_quote_unit = #{RMBQuoteUnit},</if>
            <if test="unitprice != null">unitprice = #{unitprice},</if>
            <if test="unitpriceUnit != null">unitprice_unit = #{unitpriceUnit},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where inquiry_id = #{inquiryId}
    </update>

<!--    批量将某些询价变为拒绝状态-->
    <update id="refuseQuotation" parameterType="java.util.List">
        update sys_inquiry set feedback_status=2,response_date=sysdate(),update_time=sysdate()
        where inquiry_id in
        <foreach item="inquiryId" collection="inquiryIds" open="(" separator="," close=")">
            #{inquiryId}
        </foreach>
    </update>

<!--    批量变更产品询价状态为已询价-->
    <update id="updateInquiryStatus" parameterType="java.util.List">
        update sys_product set inquiry_status=1 ,update_time=sysdate() where product_id in
        <foreach item="productId" collection="productIds" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </update>

    <delete id="deleteSysInquiryByInquiryId" parameterType="String">
        delete from sys_inquiry where inquiry_id = #{inquiryId}
    </delete>

    <delete id="deleteSysInquiryByInquiryIds" parameterType="String">
        delete from sys_inquiry where inquiry_id in 
        <foreach item="inquiryId" collection="array" open="(" separator="," close=")">
            #{inquiryId}
        </foreach>
    </delete>
</mapper>