<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductMapper">
    
    <resultMap type="SysProduct" id="SysProductResult">
        <result property="productId"    column="product_id"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="primaryCategory"    column="primary_category"    />
        <result property="primaryCategoryName"    column="primary_category_name"    />
        <result property="secondaryCategory"    column="secondary_category"    />
        <result property="secondaryCategoryName"    column="secondary_category_name"    />
        <result property="tertiaryCategory"    column="tertiary_category"    />
        <result property="tertiaryCategoryName"    column="tertiary_category_name"    />
        <result property="quaternaryCategory"    column="quaternary_category"    />
        <result property="quaternaryCategoryName"    column="quaternary_category_name"    />
        <result property="fifthCategory"    column="fifth_category"    />
        <result property="fifthCategoryName"    column="fifth_category_name"    />
        <result property="cnPrimaryCategory"    column="cn_primary_category"    />
        <result property="cnPrimaryCategoryName"    column="cn_primary_category_name"    />
        <result property="cnSecondaryCategory"    column="cn_secondary_category"    />
        <result property="cnSecondaryCategoryName"    column="cn_secondary_category_name"    />
        <result property="cnTertiaryCategory"    column="cn_tertiary_category"    />
        <result property="cnTertiaryCategoryName"    column="cn_tertiary_category_name"    />
        <result property="cnQuaternaryCategory"    column="cn_quaternary_category"    />
        <result property="cnQuaternaryCategoryName"    column="cn_quaternary_category_name"    />
        <result property="cnFifthCategory"    column="cn_fifth_category"    />
        <result property="cnFifthCategoryName"    column="cn_fifth_category_name"    />
        <result property="productName"    column="product_name"    />
        <result property="domesticImportedType"    column="domestic_imported_type"    />
        <result property="productModel"    column="product_model"    />
        <result property="quotationFlag"    column="quotation_flag"    />
        <result property="tagId"    column="tag_id"    />
        <result property="tagName"    column="tag_name"    />
        <result property="productImage"    column="product_image"    />
        <result property="productVideo"    column="product_video"    />
        <result property="futureField1"    column="future_field1"    />
        <result property="futureField2"    column="future_field2"    />
        <result property="futureField3"    column="future_field3"    />
    </resultMap>

    <sql id="selectSysProductVo">
        select product_id AS productId,supplier_id AS supplierId,supplier_name AS supplierName,primary_category AS primaryCategory,
               primary_category_name AS primaryCategoryName,secondary_category AS secondaryCategory,secondary_category_name AS secondaryCategoryName,
               tertiary_category AS tertiaryCategory,tertiary_category_name AS tertiaryCategoryName,quaternary_category AS quaternaryCategory,
               quaternary_category_name AS quaternaryCategoryName,fifth_category AS fifthCategory,fifth_category_name AS fifthCategoryName,
               cn_primary_category AS cnPrimaryCategory,cn_primary_category_name AS cnPrimaryCategoryName,cn_secondary_category AS cnSecondaryCategory,
               cn_secondary_category_name AS cnSecondaryCategoryName,cn_tertiary_category AS cnTertiaryCategory,cn_tertiary_category_name AS cnTertiaryCategoryName,
               cn_quaternary_category AS cnQuaternaryCategory,cn_quaternary_category_name AS cnQuaternaryCategoryName,
               cn_fifth_category AS cnFifthCategory,cn_fifth_category_name AS cnFifthCategoryName,
               tag_id AS tagId,tag_name AS tagName,product_image AS productImage,product_video AS productVideo,
               product_name AS productName,domestic_imported_type AS domesticImportedType,
               product_model AS productModel,quotation_flag AS quotationFlag,sample AS sample,
               specifications AS specifications,inventory AS inventory,inventory_unit as inventoryUnit,
               status AS status,production_date AS productionDate,shelf_life AS shelfLife,origin AS origin,
               storage_mode AS storageMode,warehouse_address AS warehouseAddress,main_product AS mainProduct,
               del_flag AS delFlag,quote_status AS quoteStatus,inquiry_status AS inquiryStatus,buyer_id AS buyerId,
               inquiry_list_flag AS inquiryListFlag,quote_list_flag AS quoteListFlag,remark AS remark,
               mark AS mark,unitprice AS unitprice,unitprice_unit AS unitpriceUnit,
               start_batch AS startBatch,batch_unit AS batchUnit,create_time as createTime,update_time as updateTime
               from sys_product
    </sql>

<!--    这里是根据三个不同的角色查找产品，只查产品，不查其他内容，不涉及到产品报价询价等，后面看看能不能改造一下吧-->
    <select id="selectSysProductList" parameterType="SysProDuctDTO"
            resultType="com.ruoyi.system.domain.vo.SysProductVO">
        <choose>
            <when test="flag">
                <!-- 当flag为true时，使用selectSysProductVo,不需要查供应商名字，因为是供应商自己在查询 -->
                <include refid="selectSysProductVo"/>
            </when>
            <otherwise>
                <!-- 当flag为false时，使用连表，但需要注意连接条件和字段选择，这是采购员或者管理员的查询，需要供应商名字 -->
                SELECT a.product_id AS productId,a.supplier_id AS supplierId,a.supplier_name AS supplierName,a.primary_category AS primaryCategory,
                a.primary_category_name AS primaryCategoryName,a.secondary_category AS secondaryCategory,a.secondary_category_name AS secondaryCategoryName,
                a.tertiary_category AS tertiaryCategory,a.tertiary_category_name AS tertiaryCategoryName,a.quaternary_category AS quaternaryCategory,
                a.quaternary_category_name AS quaternaryCategoryName,a.fifth_category AS fifthCategory,a.fifth_category_name AS fifthCategoryName,
                a.cn_primary_category AS cnPrimaryCategory,a.cn_primary_category_name AS cnPrimaryCategoryName,a.cn_secondary_category AS cnSecondaryCategory,
                a.cn_secondary_category_name AS cnSecondaryCategoryName,a.cn_tertiary_category AS cnTertiaryCategory,a.cn_tertiary_category_name AS cnTertiaryCategoryName,
                a.cn_quaternary_category AS cnQuaternaryCategory,a.cn_quaternary_category_name AS cnQuaternaryCategoryName,
                a.cn_fifth_category AS cnFifthCategory,a.cn_fifth_category_name AS cnFifthCategoryName,
                a.tag_id AS tagId,a.tag_name AS tagName,a.product_image AS productImage,a.product_video AS productVideo,
                a.product_name AS productName,a.domestic_imported_type AS domesticImportedType,
                a.product_model AS productModel,a.quotation_flag AS quotationFlag,a.sample AS sample,
                a.specifications AS specifications,a.inventory AS inventory,a.inventory_unit as inventoryUnit,
                a.status AS status,a.production_date AS productionDate,a.shelf_life AS shelfLife,a.origin AS origin,
                a.storage_mode AS storageMode,a.warehouse_address AS warehouseAddress,a.main_product AS mainProduct,
                a.del_flag AS delFlag,a.quote_status AS quoteStatus,a.inquiry_status AS inquiryStatus,a.buyer_id AS buyerId,
                a.inquiry_list_flag AS inquiryListFlag,a.quote_list_flag AS quoteListFlag,a.remark AS remark,
                a.mark AS mark,a.unitprice AS unitprice,a.unitprice_unit AS unitpriceUnit,
                a.start_batch AS startBatch,a.batch_unit AS batchUnit,a.create_time as createTime,a.update_time as updateTime,
                b.supplier_name_cn as supplierNameCn,b.supplier_name_en as supplierNameEn,b.supplier_name_own as supplierNameOwn
                FROM sys_product a
                LEFT JOIN sys_supplier b ON a.supplier_id = b.supplier_id
            </otherwise>
        </choose>
        <where>
            <if test="flag == false">
                    <!--如果他为false，说明是采购员或者管理员，需要供应商名字查询 -->
                <if test="supplierName != null  and supplierName != ''"> and b.supplier_name_cn like concat('%', #{supplierName}, '%')</if>
                <if test="supplierName != null  and supplierName != ''"> and b.supplier_name_en like concat('%', #{supplierName}, '%')</if>
                <if test="supplierName != null  and supplierName != ''"> and b.supplier_name_own like concat('%', #{supplierName}, '%')</if>
            </if>

            <if test="supplierId != null  and supplierId != ''"> and supplier_id = #{supplierId}</if>
            <if test="buyerId!=null"> and buyer_id = #{buyerId}</if>
            <if test="startInventory != null">and inventory &gt;= #{startInventory}</if>
            <if test="endInventory != null">and inventory &lt;= #{endInventory}</if>
            <if test="inventoryUnit != null  and inventoryUnit != ''">and inventory_unit = #{inventoryUnit}</if>
            <if test="minStartBatch != null">and start_batch &gt;= #{minStartBatch}</if>
            <if test="maxStartBatch != null">and start_batch &lt;= #{maxStartBatch}</if>
            <if test="batchUnit != null  and batchUnit != ''">and batch_unit = #{batchUnit}</if>
            <if test="origins != null and !origins.isEmpty()">
                AND origin IN
                <foreach collection="origins" item="origin" open="(" close=")" separator=",">
                    #{origin}
                </foreach>
            </if>

            <if test="cnPrimaryCategorys != null and !cnPrimaryCategorys.isEmpty()">
                AND cn_primary_category IN
                <foreach collection="cnPrimaryCategorys" item="cnPrimary" open="(" close=")" separator=",">
                    #{cnPrimary}
                </foreach>
            </if>
            <if test="cnSecondaryCategorys != null and !cnSecondaryCategorys.isEmpty()">
                AND cn_secondary_category IN
                <foreach collection="cnSecondaryCategorys" item="cnSecondary" open="(" close=")" separator=",">
                    #{cnSecondary}
                </foreach>
            </if>
            <if test="cnTertiaryCategorys != null and !cnTertiaryCategorys.isEmpty()">
                AND cn_tertiary_category IN
                <foreach collection="cnTertiaryCategorys" item="cnTertiary" open="(" close=")" separator=",">
                    #{cnTertiary}
                </foreach>
            </if>
            <if test="cnQuaternaryCategorys != null and !cnQuaternaryCategorys.isEmpty()">
                AND cn_quaternary_category IN
                <foreach collection="cnQuaternaryCategorys" item="cnQuaternary" open="(" close=")" separator=",">
                    #{cnQuaternary}
                </foreach>
            </if>
            <if test="cnFifthCategorys != null and !cnFifthCategorys.isEmpty()">
                AND cn_fifth_category IN
                <foreach collection="cnFifthCategorys" item="cnFifth" open="(" close=")" separator=",">
                    #{cnFifth}
                </foreach>
            </if>

<!--            <if test="primaryCategory != null  and primaryCategory != ''"> and primary_category = #{primaryCategory}</if>-->
<!--            <if test="primaryCategoryName != null  and primaryCategoryName != ''"> and primary_category_name like concat('%', #{primaryCategoryName}, '%')</if>-->
<!--            <if test="secondaryCategory != null  and secondaryCategory != ''"> and secondary_category = #{secondaryCategory}</if>-->
<!--            <if test="secondaryCategoryName != null  and secondaryCategoryName != ''"> and secondary_category_name like concat('%', #{secondaryCategoryName}, '%')</if>-->
<!--            <if test="tertiaryCategory != null  and tertiaryCategory != ''"> and tertiary_category = #{tertiaryCategory}</if>-->
<!--            <if test="tertiaryCategoryName != null  and tertiaryCategoryName != ''"> and tertiary_category_name like concat('%', #{tertiaryCategoryName}, '%')</if>-->
<!--            <if test="quaternaryCategory != null  and quaternaryCategory != ''"> and quaternary_category = #{quaternaryCategory}</if>-->
<!--            <if test="quaternaryCategoryName != null  and quaternaryCategoryName != ''"> and quaternary_category_name like concat('%', #{quaternaryCategoryName}, '%')</if>-->
<!--            <if test="fifthCategory != null  and fifthCategory != ''"> and fifth_category = #{fifthCategory}</if>-->
<!--            <if test="fifthCategoryName != null  and fifthCategoryName != ''"> and fifth_category_name like concat('%', #{fifthCategoryName}, '%')</if>-->
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
<!--            <if test="cnPrimaryCategory != null  and cnPrimaryCategory != ''"> and cn_primary_category = #{cnPrimaryCategory}</if>-->
<!--            <if test="cnPrimaryCategoryName != null  and cnPrimaryCategoryName != ''"> and cn_primary_category_name like concat('%', #{cnPrimaryCategoryName}, '%')</if>-->
<!--            <if test="cnSecondaryCategory != null  and cnSecondaryCategory != ''"> and cn_secondary_category = #{cnSecondaryCategory}</if>-->
<!--            <if test="cnSecondaryCategoryName != null  and cnSecondaryCategoryName != ''"> and cn_secondary_category_name like concat('%', #{cnSecondaryCategoryName}, '%')</if>-->
<!--            <if test="cnTertiaryCategory != null  and cnTertiaryCategory != ''"> and cn_tertiary_category = #{cnTertiaryCategory}</if>-->
<!--            <if test="cnTertiaryCategoryName != null  and cnTertiaryCategoryName != ''"> and cn_tertiary_category_name like concat('%', #{cnTertiaryCategoryName}, '%')</if>-->
<!--            <if test="cnQuaternaryCategory != null  and cnQuaternaryCategory != ''"> and cn_quaternary_category = #{cnQuaternaryCategory}</if>-->
<!--            <if test="cnQuaternaryCategoryName != null  and cnQuaternaryCategoryName != ''"> and cn_quaternary_category_name like concat('%', #{cnQuaternaryCategoryName}, '%')</if>-->
<!--            <if test="cnFifthCategory != null  and cnFifthCategory != ''"> and cn_fifth_category = #{cnFifthCategory}</if>-->
<!--            <if test="cnFifthCategoryName != null  and cnFifthCategoryName != ''"> and cn_fifth_category_name like concat('%', #{cnFifthCategoryName}, '%')</if>-->
            <if test="domesticImportedType != null "> and domestic_imported_type = #{domesticImportedType}</if>
<!--             <if test="productModel != null  and productModel != ''"> and product_model = #{productModel}</if>-->
            <if test="quotationFlag != null "> and quotation_flag = #{quotationFlag}</if>
            <if test="sample != null">and sample=#{sample}</if>
            <if test="specifications == '抄码'">and specifications = '抄码'</if>
            <if test="specifications == '非抄码'">and specifications != '抄码'</if>
            <if test="status != null">and status=#{status}</if>
            <if test="storageMode !=null">and storage_mode=#{storageMode}</if>
            <if test="warehouseAddress!=null and warehouseAddress!=''">and warehouse_address like concat('%', #{warehouseAddress}, '%')</if>
            <if test="mainProduct != null">and main_product=#{mainProduct}</if>
            <if test="quoteStatus !=null">and quote_status=#{quoteStatus}</if>
            <if test="inquiryStatus !=null">and inquiry_status=#{inquiryStatus}</if>
            <if test="inquiryListFlag !=null">and inquiry_list_flag=#{inquiryListFlag}</if>
            <if test="quoteListFlag !=null">and quote_list_flag=#{quoteListFlag}</if>
            <if test="mark != null and mark != ''">and mark like concat('%', #{mark}, '%')</if>
            <choose>
                <when test="flag">
                    and del_flag=0
                </when>
                <otherwise>
                    and a.del_flag=0
                </otherwise>
            </choose>
        </where>
    </select>

<!--    单独根据产品Id查产品详情，但是要注意供应商只能查自己的详情，采购员只能查自己负责的详情，管理员查所有-->
    <select id="selectSysProductByProductId" parameterType="SysProDuctDTO" resultType="com.ruoyi.system.domain.vo.SysProductVO">
        <choose>
            <when test="flag">
                <!-- 当flag为true时，使用selectSysProductVo,不需要查供应商名字，因为是供应商自己在查询 -->
                <include refid="selectSysProductVo"/>
            </when>
            <otherwise>
                <!-- 当flag为false时，使用连表，但需要注意连接条件和字段选择，这是采购员或者管理员的查询，需要供应商名字 -->
                SELECT a.product_id AS productId,a.supplier_id AS supplierId,a.supplier_name AS supplierName,a.primary_category AS primaryCategory,
                a.primary_category_name AS primaryCategoryName,a.secondary_category AS secondaryCategory,a.secondary_category_name AS secondaryCategoryName,
                a.tertiary_category AS tertiaryCategory,a.tertiary_category_name AS tertiaryCategoryName,a.quaternary_category AS quaternaryCategory,
                a.quaternary_category_name AS quaternaryCategoryName,a.fifth_category AS fifthCategory,a.fifth_category_name AS fifthCategoryName,
                a.cn_primary_category AS cnPrimaryCategory,a.cn_primary_category_name AS cnPrimaryCategoryName,a.cn_secondary_category AS cnSecondaryCategory,
                a.cn_secondary_category_name AS cnSecondaryCategoryName,a.cn_tertiary_category AS cnTertiaryCategory,a.cn_tertiary_category_name AS cnTertiaryCategoryName,
                a.cn_quaternary_category AS cnQuaternaryCategory,a.cn_quaternary_category_name AS cnQuaternaryCategoryName,
                a.cn_fifth_category AS cnFifthCategory,a.cn_fifth_category_name AS cnFifthCategoryName,
                a.tag_id AS tagId,a.tag_name AS tagName,a.product_image AS productImage,a.product_video AS productVideo,
                a.product_name AS productName,a.domestic_imported_type AS domesticImportedType,
                a.product_model AS productModel,a.quotation_flag AS quotationFlag,a.sample AS sample,
                a.specifications AS specifications,a.inventory AS inventory,a.inventory_unit as inventoryUnit,
                a.status AS status,a.production_date AS productionDate,a.shelf_life AS shelfLife,a.origin AS origin,
                a.storage_mode AS storageMode,a.warehouse_address AS warehouseAddress,a.main_product AS mainProduct,
                a.del_flag AS delFlag,a.quote_status AS quoteStatus,a.inquiry_status AS inquiryStatus,a.buyer_id AS buyerId,
                a.inquiry_list_flag AS inquiryListFlag,a.quote_list_flag AS quoteListFlag,a.remark AS remark,
                a.mark AS mark,a.unitprice AS unitprice,a.unitprice_unit AS unitpriceUnit,
                a.start_batch AS startBatch,a.batch_unit AS batchUnit,a.create_time as createTime,a.update_time as updateTime,
                b.supplier_name_cn as supplierNameCn,b.supplier_name_en as supplierNameEn,b.supplier_name_own as supplierNameOwn
                FROM sys_product a
                LEFT JOIN sys_supplier b ON a.supplier_id = b.supplier_id
            </otherwise>
        </choose>
        <where>
            and product_id = #{productId}
            <if test="supplierId != null  and supplierId != ''"> and supplier_id = #{supplierId}</if>
            <if test="buyerId!=null"> and buyer_id = #{buyerId}</if>
            <choose>
                <when test="flag">
                <!-- 说明是供应商自己在查，那不需要连表-->
                    and del_flag=0
                </when>
                <otherwise>
                    <!-- 说明是非供应商在查，那需要连表查询-->
                    and a.del_flag=0
                </otherwise>
            </choose>
        </where>
    </select>

    <insert id="insertSysProduct" parameterType="SysProduct">
        insert into sys_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null and productId != ''">product_id,</if>
            <if test="supplierId != null and supplierId != ''">supplier_id,</if>
            <if test="supplierName != null and supplierName != ''">supplier_name,</if>
            <if test="productName != null and productName != ''">product_name,</if>
<!--            <if test="primaryCategory != null and primaryCategory != ''">primary_category,</if>-->
<!--            <if test="primaryCategoryName != null and primaryCategoryName != ''">primary_category_name,</if>-->
<!--            <if test="secondaryCategory != null and secondaryCategory != ''">secondary_category,</if>-->
<!--            <if test="secondaryCategoryName != null and secondaryCategoryName != ''">secondary_category_name,</if>-->
<!--            <if test="tertiaryCategory != null and tertiaryCategory != ''">tertiary_category,</if>-->
<!--            <if test="tertiaryCategoryName != null and tertiaryCategoryName != ''">tertiary_category_name,</if>-->
<!--            <if test="quaternaryCategory != null and quaternaryCategory != ''">quaternary_category,</if>-->
<!--            <if test="quaternaryCategoryName != null and quaternaryCategoryName != ''">quaternary_category_name,</if>-->
<!--            <if test="fifthCategory != null and fifthCategory != ''">fifth_category,</if>-->
<!--            <if test="fifthCategoryName != null and fifthCategoryName != ''">fifth_category_name,</if>-->
            <if test="cnPrimaryCategory != null and cnPrimaryCategory != ''">cn_primary_category,</if>
            <if test="cnPrimaryCategoryName != null and cnPrimaryCategoryName != ''">cn_primary_category_name,</if>
            <if test="cnSecondaryCategory != null and cnSecondaryCategory != ''">cn_secondary_category,</if>
            <if test="cnSecondaryCategoryName != null and cnSecondaryCategoryName != ''">cn_secondary_category_name,</if>
            <if test="cnTertiaryCategory != null and cnTertiaryCategory != ''">cn_tertiary_category,</if>
            <if test="cnTertiaryCategoryName != null and cnTertiaryCategoryName != ''">cn_tertiary_category_name,</if>
            <if test="cnQuaternaryCategory != null and cnQuaternaryCategory != ''">cn_quaternary_category,</if>
            <if test="cnQuaternaryCategoryName != null and cnQuaternaryCategoryName != ''">cn_quaternary_category_name,</if>
            <if test="cnFifthCategory != null and cnFifthCategory != ''">cn_fifth_category,</if>
            <if test="cnFifthCategoryName != null and cnFifthCategoryName != ''">cn_fifth_category_name,</if>
            <if test="domesticImportedType != null">domestic_imported_type,</if>
            <if test="productModel != null and productModel != ''">product_model,</if>
            <if test="productVideo != null and productVideo != ''">product_video,</if>
            <if test="productImage != null and productImage != ''">product_image,</if>
            <if test="tagId != null and tagId != ''">tag_id,</if>
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="quotationFlag != null">quotation_flag,</if>
            <if test="sample != null">sample,</if>
            <if test="specifications != null and specifications != ''">specifications,</if>
            <if test="inventory != null">inventory,</if>
            <if test="inventoryUnit != null and inventoryUnit != ''">inventory_unit,</if>
            <if test="status != null">status,</if>
            <if test="productionDate != null">production_date,</if>
            <if test="shelfLife != null and shelfLife != ''">shelf_life,</if>
            <if test="origin != null and origin != ''">origin,</if>
            <if test="storageMode != null">storage_mode,</if>
            <if test="warehouseAddress != null and warehouseAddress != ''">warehouse_address,</if>
            <if test="mainProduct != null">main_product,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="quoteStatus != null">quote_status,</if>
            <if test="inquiryStatus != null">inquiry_status,</if>
            <if test="buyerId != null">buyer_id,</if>
            <if test="inquiryListFlag != null">inquiry_list_flag,</if>
            <if test="quoteListFlag != null">quote_list_flag,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="mark != null and mark != ''">mark,</if>
            <if test="unitprice != null">unitprice,</if>
            <if test="unitpriceUnit != null and unitpriceUnit != ''">unitprice_unit,</if>
            <if test="startBatch != null">start_batch,</if>
            <if test="batchUnit != null and batchUnit != ''">batch_unit,</if>
            <if test="futureField1 != null and futureField1 != ''">future_field1,</if>
            <if test="futureField2 != null and futureField2 != ''">future_field2,</if>
            <if test="futureField3 != null and futureField3 != ''">future_field3,</if>
            create_time
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null and productId != ''">#{productId},</if>
            <if test="supplierId != null and supplierId != ''">#{supplierId},</if>
            <if test="supplierName != null and supplierName != ''">#{supplierName},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
<!--            <if test="primaryCategory != null and primaryCategory != ''">#{primaryCategory},</if>-->
<!--            <if test="primaryCategoryName != null and primaryCategoryName != ''">#{primaryCategoryName},</if>-->
<!--            <if test="secondaryCategory != null and secondaryCategory != ''">#{secondaryCategory},</if>-->
<!--            <if test="secondaryCategoryName != null and secondaryCategoryName != ''">#{secondaryCategoryName},</if>-->
<!--            <if test="tertiaryCategory != null and tertiaryCategory != ''">#{tertiaryCategory},</if>-->
<!--            <if test="tertiaryCategoryName != null and tertiaryCategoryName != ''">#{tertiaryCategoryName},</if>-->
<!--            <if test="quaternaryCategory != null and quaternaryCategory != ''">#{quaternaryCategory},</if>-->
<!--            <if test="quaternaryCategoryName != null and quaternaryCategoryName != ''">#{quaternaryCategoryName},</if>-->
<!--            <if test="fifthCategory != null and fifthCategory != ''">#{fifthCategory},</if>-->
<!--            <if test="fifthCategoryName != null and fifthCategoryName != ''">#{fifthCategoryName},</if>-->
            <if test="cnPrimaryCategory != null and cnPrimaryCategory != ''">#{cnPrimaryCategory},</if>
            <if test="cnPrimaryCategoryName != null and cnPrimaryCategoryName != ''">#{cnPrimaryCategoryName},</if>
            <if test="cnSecondaryCategory != null and cnSecondaryCategory != ''">#{cnSecondaryCategory},</if>
            <if test="cnSecondaryCategoryName != null and cnSecondaryCategoryName != ''">#{cnSecondaryCategoryName},</if>
            <if test="cnTertiaryCategory != null and cnTertiaryCategory != ''">#{cnTertiaryCategory},</if>
            <if test="cnTertiaryCategoryName != null and cnTertiaryCategoryName != ''">#{cnTertiaryCategoryName},</if>
            <if test="cnQuaternaryCategory != null and cnQuaternaryCategory != ''">#{cnQuaternaryCategory},</if>
            <if test="cnQuaternaryCategoryName != null and cnQuaternaryCategoryName != ''">#{cnQuaternaryCategoryName},</if>
            <if test="cnFifthCategory != null and cnFifthCategory != ''">#{cnFifthCategory},</if>
            <if test="cnFifthCategoryName != null and cnFifthCategoryName != ''">#{cnFifthCategoryName},</if>
            <if test="domesticImportedType != null">#{domesticImportedType},</if>
            <if test="productModel != null and productModel != ''">#{productModel},</if>
            <if test="productVideo != null and productVideo != ''">#{productVideo},</if>
            <if test="productImage != null and productImage != ''">#{productImage},</if>
            <if test="tagId != null and tagId != ''">#{tagId},</if>
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="quotationFlag != null">#{quotationFlag},</if>
            <if test="sample != null">#{sample},</if>
            <if test="specifications != null and specifications != ''">#{specifications},</if>
            <if test="inventory != null">#{inventory},</if>
            <if test="inventoryUnit != null and inventoryUnit != ''">#{inventoryUnit},</if>
            <if test="status != null">#{status},</if>
            <if test="productionDate != null">#{productionDate},</if>
            <if test="shelfLife != null and shelfLife != ''">#{shelfLife},</if>
            <if test="origin != null and origin != ''">#{origin},</if>
            <if test="storageMode != null">#{storageMode},</if>
            <if test="warehouseAddress != null and warehouseAddress != ''">#{warehouseAddress},</if>
            <if test="mainProduct != null">#{mainProduct},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="quoteStatus != null">#{quoteStatus},</if>
            <if test="inquiryStatus != null">#{inquiryStatus},</if>
            <if test="buyerId != null">#{buyerId},</if>
            <if test="inquiryListFlag != null">#{inquiryListFlag},</if>
            <if test="quoteListFlag != null">#{quoteListFlag},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="mark != null and mark != ''">#{mark},</if>
            <if test="unitprice != null">#{unitprice},</if>
            <if test="unitpriceUnit != null and unitpriceUnit != ''">#{unitpriceUnit},</if>
            <if test="startBatch != null">#{startBatch},</if>
            <if test="batchUnit != null and batchUnit != ''">#{batchUnit},</if>
            <if test="futureField1 != null and futureField1 != ''">#{futureField1},</if>
            <if test="futureField2 != null and futureField2 != ''">#{futureField2},</if>
            <if test="futureField3 != null and futureField3 != ''">#{futureField3},</if>
            sysdate()
         </trim>
    </insert>

    <update id="updateSysProduct" parameterType="SysProduct">
        update sys_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="cnPrimaryCategory != null">cn_primary_category = #{cnPrimaryCategory},</if>
            <if test="cnPrimaryCategoryName != null">cn_primary_category_name = #{cnPrimaryCategoryName},</if>
            <if test="cnSecondaryCategory != null">cn_secondary_category = #{cnSecondaryCategory},</if>
            <if test="cnSecondaryCategoryName != null">cn_secondary_category_name = #{cnSecondaryCategoryName},</if>
            <if test="cnTertiaryCategory != null">cn_tertiary_category = #{cnTertiaryCategory},</if>
            <if test="cnTertiaryCategoryName != null">cn_tertiary_category_name = #{cnTertiaryCategoryName},</if>
            <if test="cnQuaternaryCategory != null">cn_quaternary_category = #{cnQuaternaryCategory},</if>
            <if test="cnQuaternaryCategoryName != null">cn_quaternary_category_name = #{cnQuaternaryCategoryName},</if>
            <if test="cnFifthCategory != null">cn_fifth_category = #{cnFifthCategory},</if>
            <if test="cnFifthCategoryName != null">cn_fifth_category_name = #{cnFifthCategoryName},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="domesticImportedType != null">domestic_imported_type = #{domesticImportedType},</if>
            <if test="productModel != null">product_model = #{productModel},</if>
            <if test="quotationFlag != null">quotation_flag = #{quotationFlag},</if>
            <if test="sample != null">sample = #{sample},</if>
            <if test="specifications != null">specifications = #{specifications},</if>
            <if test="inventory != null">inventory = #{inventory},</if>
            <if test="status != null">status = #{status},</if>
            <if test="origin != null">origin = #{origin},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="mark != null">mark = #{mark},</if>
            <if test="unitprice != null">unitprice = #{unitprice},</if>
            <if test="unitpriceUnit != null">unitprice_unit = #{unitpriceUnit},</if>
            <if test="productModel != null">product_model = #{productModel},</if>
            <if test="productVideo != null">product_video = #{productVideo},</if>
            <if test="productImage != null">product_image = #{productImage},</if>
            <if test="tagId != null">tag_id = #{tagId},</if>
            <if test="tagName != null">tag_name = #{tagName},</if>
            <if test="quotationFlag != null">quotation_flag = #{quotationFlag},</if>
            <if test="inventoryUnit != null">inventory_unit = #{inventoryUnit},</if>
            <if test="productionDate != null">production_date = #{productionDate},</if>
            <if test="shelfLife != null">shelf_life = #{shelfLife},</if>
            <if test="storageMode != null">storage_mode = #{storageMode},</if>
            <if test="warehouseAddress != null">warehouse_address = #{warehouseAddress},</if>
            <if test="mainProduct != null">main_product = #{mainProduct},</if>
            <if test="startBatch != null">start_batch = #{startBatch},</if>
            <if test="batchUnit != null">batch_unit = #{batchUnit},</if>
            update_time = sysdate()
        </trim>
        where product_id = #{productId}
    </update>

    <!--  修改产品状态为1-已报价  -->
    <update id="updateSysProductStatus">
        update sys_product
        set future_field1 = 1
        where product_id = #{productId}
    </update>
    <!--  修改产品是否可报价状态用于前端切换  -->
    <update id="updateStatus">
        update sys_product
        set quotation_flag = #{quotationFlag}
        where product_id = #{productId}
    </update>

<!--    切换该产品是否属于报价清单的状态-->
    <update id="updateQuoteListStatus">
        update sys_product
        set quote_list_flag = #{status}
        where product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </update>

    <!--    切换该产品是否属于询价清单的状态-->
    <update id="updateInquiryListStatus">
        update sys_product
        set inquiry_list_flag = #{status}
        where product_id in
        <foreach collection="productIds" item="productId" open="(" close=")" separator=",">
            #{productId}
        </foreach>
    </update>

    <delete id="deleteSysProductByProductId" parameterType="String">
        delete from sys_product where product_id = #{productId}
    </delete>

    <update id="deleteSysProductByProductIds" parameterType="java.util.List">
        update sys_product set del_flag=1 where product_id in
        <foreach item="productId" collection="productIds" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </update>

    <select id="selectProductNamesByParam" resultType="java.lang.String">
    SELECT product_Name
    FROM sys_product
    WHERE future_field1 = '1'
      <if test="supplierId != null  and supplierId != ''">and supplier_id = #{supplierId}</if>
        <if test="productName != null  and productName != ''">AND product_Name LIKE CONCAT('%', #{productName}, '%')</if>
    </select>

    <select id="selectPriceByProductId" resultType="com.ruoyi.system.domain.SysSupplierPrice">
        select price_RMB as priceRMB from sys_supplier_price where product_id=#{productId} order by time desc limit 1
    </select>
</mapper>