<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductMapper">
    
    <resultMap type="SysProduct" id="SysProductResult">
        <result property="productId"    column="product_id"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="primaryCategory"    column="primary_category"    />
        <result property="secondaryCategory"    column="secondary_category"    />
        <result property="tertiaryCategory"    column="tertiary_category"    />
        <result property="quaternaryCategory"    column="quaternary_category"    />
        <result property="fifthCategory"    column="fifth_category"    />
        <result property="productName"    column="product_name"    />
        <result property="domesticImportedType"    column="domestic_imported_type"    />
        <result property="productModel"    column="product_model"    />
        <result property="quotationFlag"    column="quotation_flag"    />
        <result property="futureField1"    column="future_field1"    />
        <result property="futureField2"    column="future_field2"    />
        <result property="futureField3"    column="future_field3"    />
    </resultMap>

    <sql id="selectSysProductVo">
        select product_id, supplier_id, primary_category, secondary_category, tertiary_category, quaternary_category, fifth_category, product_name, domestic_imported_type, product_model, quotation_flag, future_field1, future_field2, future_field3 from sys_product
    </sql>

    <select id="selectSysProductList" parameterType="SysProduct" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        <where>  
            <if test="supplierId != null  and supplierId != ''"> and supplier_id = #{supplierId}</if>
            <if test="primaryCategory != null  and primaryCategory != ''"> and primary_category = #{primaryCategory}</if>
            <if test="secondaryCategory != null  and secondaryCategory != ''"> and secondary_category = #{secondaryCategory}</if>
            <if test="tertiaryCategory != null  and tertiaryCategory != ''"> and tertiary_category = #{tertiaryCategory}</if>
            <if test="quaternaryCategory != null  and quaternaryCategory != ''"> and quaternary_category = #{quaternaryCategory}</if>
            <if test="fifthCategory != null  and fifthCategory != ''"> and fifth_category = #{fifthCategory}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="domesticImportedType != null "> and domestic_imported_type = #{domesticImportedType}</if>
            <if test="productModel != null  and productModel != ''"> and product_model = #{productModel}</if>
            <if test="quotationFlag != null "> and quotation_flag = #{quotationFlag}</if>
            <if test="futureField1 != null  and futureField1 != ''"> and future_field1 = #{futureField1}</if>
            <if test="futureField2 != null  and futureField2 != ''"> and future_field2 = #{futureField2}</if>
            <if test="futureField3 != null  and futureField3 != ''"> and future_field3 = #{futureField3}</if>
        </where>
    </select>
    
    <select id="selectSysProductByProductId" parameterType="String" resultMap="SysProductResult">
        <include refid="selectSysProductVo"/>
        where product_id = #{productId}
    </select>

    <insert id="insertSysProduct" parameterType="SysProduct">
        insert into sys_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">product_id,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="primaryCategory != null">primary_category,</if>
            <if test="secondaryCategory != null">secondary_category,</if>
            <if test="tertiaryCategory != null">tertiary_category,</if>
            <if test="quaternaryCategory != null">quaternary_category,</if>
            <if test="fifthCategory != null">fifth_category,</if>
            <if test="productName != null">product_name,</if>
            <if test="domesticImportedType != null">domestic_imported_type,</if>
            <if test="productModel != null">product_model,</if>
            <if test="quotationFlag != null">quotation_flag,</if>
            <if test="futureField1 != null">future_field1,</if>
            <if test="futureField2 != null">future_field2,</if>
            <if test="futureField3 != null">future_field3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">#{productId},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="primaryCategory != null">#{primaryCategory},</if>
            <if test="secondaryCategory != null">#{secondaryCategory},</if>
            <if test="tertiaryCategory != null">#{tertiaryCategory},</if>
            <if test="quaternaryCategory != null">#{quaternaryCategory},</if>
            <if test="fifthCategory != null">#{fifthCategory},</if>
            <if test="productName != null">#{productName},</if>
            <if test="domesticImportedType != null">#{domesticImportedType},</if>
            <if test="productModel != null">#{productModel},</if>
            <if test="quotationFlag != null">#{quotationFlag},</if>
            <if test="futureField1 != null">#{futureField1},</if>
            <if test="futureField2 != null">#{futureField2},</if>
            <if test="futureField3 != null">#{futureField3},</if>
         </trim>
    </insert>

    <update id="updateSysProduct" parameterType="SysProduct">
        update sys_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="primaryCategory != null">primary_category = #{primaryCategory},</if>
            <if test="secondaryCategory != null">secondary_category = #{secondaryCategory},</if>
            <if test="tertiaryCategory != null">tertiary_category = #{tertiaryCategory},</if>
            <if test="quaternaryCategory != null">quaternary_category = #{quaternaryCategory},</if>
            <if test="fifthCategory != null">fifth_category = #{fifthCategory},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="domesticImportedType != null">domestic_imported_type = #{domesticImportedType},</if>
            <if test="productModel != null">product_model = #{productModel},</if>
            <if test="quotationFlag != null">quotation_flag = #{quotationFlag},</if>
            <if test="futureField1 != null">future_field1 = #{futureField1},</if>
            <if test="futureField2 != null">future_field2 = #{futureField2},</if>
            <if test="futureField3 != null">future_field3 = #{futureField3},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteSysProductByProductId" parameterType="String">
        delete from sys_product where product_id = #{productId}
    </delete>

    <delete id="deleteSysProductByProductIds" parameterType="String">
        delete from sys_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
</mapper>