<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductTypeMapper">
    
    <resultMap type="SysProductType" id="SysProductTypeResult">
        <result property="productCode"    column="product_code"    />
        <result property="productName"    column="product_name"    />
        <result property="parentCode"    column="parent_code"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysProductTypeVo">
        select product_code, product_name, parent_code, remark from sys_product_type
    </sql>

    <select id="selectSysProductTypeList" parameterType="SysProductType" resultMap="SysProductTypeResult">
        <include refid="selectSysProductTypeVo"/>
        <where>  
            <if test="productCode != null  and productCode != ''"> and product_code = #{productCode}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="parentCode != null  and parentCode != ''"> and parent_code = #{parentCode}</if>
        </where>
    </select>
    
    <select id="selectSysProductTypeByProductCode" parameterType="String" resultMap="SysProductTypeResult">
        <include refid="selectSysProductTypeVo"/>
        where product_code = #{productCode}
    </select>

    <insert id="insertSysProductType" parameterType="SysProductType">
        insert into sys_product_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">product_code,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="parentCode != null and parentCode != ''">parent_code,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productCode != null and productCode != ''">#{productCode},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="parentCode != null and parentCode != ''">#{parentCode},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysProductType" parameterType="SysProductType">
        update sys_product_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null and productName != ''">product_name = #{productName},</if>
            <if test="parentCode != null and parentCode != ''">parent_code = #{parentCode},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where product_code = #{productCode}
    </update>

    <delete id="deleteSysProductTypeByProductCode" parameterType="String">
        delete from sys_product_type where product_code = #{productCode}
    </delete>

    <delete id="deleteSysProductTypeByProductCodes" parameterType="String">
        delete from sys_product_type where product_code in 
        <foreach item="productCode" collection="array" open="(" separator="," close=")">
            #{productCode}
        </foreach>
    </delete>
</mapper>