<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSupplierMapper">

    <resultMap type="SysSupplier" id="SysSupplierResult">
        <result property="supplierId"    column="supplier_id"    />
        <result property="label"    column="label"    />
        <result property="country"    column="country"    />
        <result property="nature"   column="nature"     />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="area"    column="area"    />
        <result property="detailedAddress"      column="detailed_address"    />
        <result property="businessCategory"    column="business_category"    />
        <result property="mainCategory"    column="main_category"    />
        <result property="mainProductId"    column="main_product_id"    />
        <result property="mainProduct"    column="main_product"    />
        <result property="registrationNo"    column="registration_no"    />
        <result property="registrationNoInChina"    column="registration_no_in_china"    />
        <result property="supplierNameCn"    column="supplier_name_cn"    />
        <result property="supplierNameEn"    column="supplier_name_en"    />
        <result property="supplierNameOwn"    column="supplier_name_own"    />
        <result property="registrationTime"    column="registration_time"    />
        <result property="registrationTimeValidityPeriod"    column="registration_time_validity_period"    />
        <result property="legalPerson"    column="legal_person"    />
        <result property="legalPersonTelephone"    column="legal_person_telephone"    />
        <result property="legalPersonEmail"    column="legal_person_email"    />
        <result property="principalName"    column="principal_name"    />
        <result property="principalTelephone"    column="principal_telephone"    />
        <result property="principalEmail"    column="principal_email"    />
        <result property="classification"    column="classification"    />
        <result property="rate"    column="rate"    />
        <result property="reviewRating"    column="review_rating"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="inspectionId"    column="inspection_id"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="inspectionStatus"    column="inspection_status"    />
        <result property="inspectionAuditStatus"    column="inspection_audit_status"    />
        <result property="dataSources"    column="data_sources"    />
        <result property="headPortraitPath"    column="head_portrait_path"    />
        <result property="imagePath"    column="image_address"    />
        <result property="videoPath"    column="video_address"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <resultMap id="SysSupplierSysProductResult" type="SysSupplier" extends="SysSupplierResult">
        <collection property="sysProductList" ofType="SysProduct" column="supplier_id" select="selectSysProductList" />
    </resultMap>

    <resultMap type="SysProduct" id="SysProductResult">
        <result property="productId"    column="product_id"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="primaryCategory"    column="primary_category"    />
        <result property="secondaryCategory"    column="secondary_category"    />
        <result property="tertiaryCategory"    column="tertiary_category"    />
        <result property="quaternaryCategory"    column="quaternary_category"    />
        <result property="fifthCategory"    column="fifth_category"    />
        <result property="productName"    column="product_name"    />
        <result property="domesticImportedType"    column="domestic_imported_type"    />
        <result property="productModel"    column="product_model"    />
        <result property="quotationFlag"    column="quotation_flag"    />
        <result property="futureField1"    column="future_field1"    />
        <result property="futureField2"    column="future_field2"    />
        <result property="futureField3"    column="future_field3"    />
    </resultMap>

    <sql id="selectSysSupplierVo">
        select supplier_id, label, country, nature, province, city, area, detailed_address, business_category, main_category,
               main_product_id, main_product,
               registration_no, registration_no_in_china, supplier_name_cn,
               supplier_name_en, supplier_name_own, registration_time, registration_time_validity_period,
               legal_person, legal_person_telephone, legal_person_email, principal_name, principal_telephone, principal_email,
               classification, rate, review_rating, delete_flag, inspection_id,
               principal_telephone, audit_status, inspection_status,
               inspection_audit_status, data_sources, head_portrait_path,image_path, video_path,
               remark from sys_supplier
    </sql>

    <select id="selectSysSupplierList" parameterType="SysSupplier" resultMap="SysSupplierResult">
        <include refid="selectSysSupplierVo"/>
        <where>
            <if test="label != null ">label = #{label}</if>
            <if test="country != null  and country != ''"> and country = #{country}</if>
            <if test="nature != null  and nature != ''"> and nature = #{nature}</if>
            <if test="province != null  and province != ''"> and province like concat('%',#{province},'%')</if>
            <if test="city != null  and city != ''"> and city like concat('%',#{city},'%') </if>
            <if test="area != null  and area != ''"> and area like concat('%',#{area},'%') </if>
            <if test="detailedAddress != null  and detailedAddress != ''"> and detailed_address like concat('%',#{detailed_address},'%') </if>
            <if test="businessCategory != null  and businessCategory != ''"> and business_category like concat('%',#{businessCategory},'%') </if>
            <if test="mainCategory != null  and mainCategory != ''"> and main_category like concat('%',#{mainCategory},'%') </if>
            <if test="mainProductId != null  and mainProductId != ''"> and main_product_id like concat('%',#{mainProductId},'%') </if>
            <if test="mainProduct != null  and mainProduct != ''"> and main_product like concat('%',#{mainProduct},'%') </if>
            <if test="registrationNo != null  and registrationNo != ''"> and registration_no like concat('%',#{registrationNo},'%') </if>
            <if test="registrationNoInChina != null  and registrationNoInChina != ''"> and registration_no_in_china like concat('%',#{registrationNoInChina},'%')</if>
            <if test="supplierNameCn != null  and supplierNameCn != ''"> and supplier_name_cn like concat('%',#{supplierNameCn},'%') </if>
            <if test="supplierNameEn != null  and supplierNameEn != ''"> and supplier_name_en like concat('%',#{supplierNameEn},'%') </if>
            <if test="supplierNameOwn != null  and supplierNameOwn != ''"> and supplier_name_own like concat('%',#{supplierNameOwn},'%') </if>
            <if test="registrationTime != null "> and registration_time = #{registrationTime}</if>
            <if test="registrationTimeValidityPeriod != null "> and registration_time_validity_period = #{registrationTimeValidityPeriod}</if>
            <if test="legalPerson != null "> and legal_person = #{legalPerson}</if>
            <if test="legalPersonTelephone != null "> and legal_person_telephone = #{legalPersonTelephone}</if>
            <if test="legalPersonEmail != null "> and legal_person_email = #{legalPersonEmail}</if>
            <if test="principalName != null "> and principal_name = #{principalName}</if>
            <if test="principalTelephone != null "> and principal_telephone = #{principalTelephone}</if>
            <if test="principalEmail != null "> and principal_email = #{principalEmail}</if>
            <if test="classification != null "> and classification = #{classification}</if>
            <if test="rate != null  and rate != ''"> and rate = #{rate}</if>
            <if test="reviewRating != null  and reviewRating != ''"> and review_rating = #{reviewRating}</if>
            <if test="inspectionId != null  and inspectionId != ''"> and inspection_id = #{inspectionId}</if>
            <if test="auditStatus != null "> and audit_status = #{auditStatus}</if>
            <if test="inspectionStatus != null "> and inspection_status = #{inspectionStatus}</if>
            <if test="inspectionAuditStatus != null "> and inspection_audit_status = #{inspectionAuditStatus}</if>
            <if test="dataSources != null "> and data_sources = #{dataSources}</if>
            <if test="deleteFlag != null "> and delete_flag = #{deleteFlag}</if>
        </where>
    </select>
    
    <select id="selectSysSupplierBySupplierId" parameterType="String" resultMap="SysSupplierSysProductResult">
        select supplier_id, label, country, nature, province, city, area, detailed_address, business_category,
               main_category, main_product_id, main_product, registration_no, registration_no_in_china,
               supplier_name_cn, supplier_name_en, supplier_name_own, registration_time,
               registration_time_validity_period, legal_person, legal_person_telephone, legal_person_email,
               principal_name, principal_telephone, principal_email, classification, rate, review_rating,
               delete_flag, inspection_id, audit_status, inspection_status, inspection_audit_status, data_sources,
               head_portrait_path, image_path, video_path, remark
        from sys_supplier
        where supplier_id = #{supplierId}
    </select>

    <select id="selectSysProductList" resultMap="SysProductResult">
        select *
        from sys_product
        where supplier_id = #{supplier_id}
    </select>

    <!--  根据法人电话查询供应商信息-->
    <select id="checkLegalPersonTelephoneUnique" resultType="SysSupplier">
        select * from sys_supplier where legal_person_telephone = #{legalPersonTelephone}
    </select>

    <insert id="insertSysSupplier" parameterType="SysSupplier">
        insert into sys_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">supplier_id,</if>
            <if test="label != null">label,</if>
            <if test="nature != null">nature,</if>
            <if test="country != null and country != ''">country,</if>
            <if test="province != null">province,</if>
            <if test="city != null">city,</if>
            <if test="area != null">area,</if>
            <if test="detailedAddress != null">detailed_address,</if>
            <if test="businessCategory != null">business_category,</if>
            <if test="mainCategory != null">main_category,</if>
            <if test="mainProductId != null">main_product_id,</if>
            <if test="mainProduct != null">main_product,</if>
            <if test="registrationNo != null and registrationNo != ''">registration_no,</if>
            <if test="registrationNoInChina != null">registration_no_in_china,</if>
            <if test="supplierNameCn != null">supplier_name_cn,</if>
            <if test="supplierNameEn != null">supplier_name_en,</if>
            <if test="supplierNameOwn != null">supplier_name_own,</if>
            <if test="registrationTime != null">registration_time,</if>
            <if test="registrationTimeValidityPeriod != null">registration_time_validity_period,</if>
            <if test="legalPerson != null ">legal_person,</if>
            <if test="legalPersonTelephone != null ">legal_person_telephone,</if>
            <if test="legalPersonEmail != null ">legal_person_email,</if>
            <if test="principalName != null ">principal_name,</if>
            <if test="principalTelephone != null ">principal_telephone,</if>
            <if test="principalEmail != null ">principal_email,</if>
            <if test="classification != null ">classification,</if>
            <if test="rate != null">rate,</if>
            <if test="reviewRating != null">review_rating,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="inspectionId != null">inspection_id,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="inspectionStatus != null">inspection_status,</if>
            <if test="inspectionAuditStatus != null">inspection_audit_status,</if>
            <if test="dataSources != null">data_sources,</if>
            <if test="headPortraitPath != null">head_portrait_path,</if>
            <if test="imagePath != null">image_path,</if>
            <if test="videoPath != null">video_path,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierId != null">#{supplierId},</if>
            <if test="label != null">#{label},</if>
            <if test="nature != null">#{nature},</if>
            <if test="country != null and country != ''">#{country},</if>
            <if test="province != null">#{province},</if>
            <if test="city != null">#{city},</if>
            <if test="area != null">#{area},</if>
            <if test="detailedAddress != null">#{detailedAddress},</if>
            <if test="businessCategory != null">#{businessCategory},</if>
            <if test="mainCategory != null">#{mainCategory},</if>
            <if test="mainProductId != null">#{mainProductId},</if>
            <if test="mainProduct != null">#{mainProduct},</if>
            <if test="registrationNo != null and registrationNo != ''">#{registrationNo},</if>
            <if test="registrationNoInChina != null">#{registrationNoInChina},</if>
            <if test="supplierNameCn != null">#{supplierNameCn},</if>
            <if test="supplierNameEn != null">#{supplierNameEn},</if>
            <if test="supplierNameOwn != null">#{supplierNameOwn},</if>
            <if test="registrationTime != null">#{registrationTime},</if>
            <if test="registrationTimeValidityPeriod != null">#{registrationTimeValidityPeriod},</if>
            <if test="legalPerson != null ">#{legalPerson},</if>
            <if test="legalPersonTelephone != null ">#{legalPersonTelephone},</if>
            <if test="legalPersonEmail != null ">#{legalPersonEmail},</if>
            <if test="principalName != null ">#{principalName},</if>
            <if test="principalTelephone != null ">#{principalTelephone},</if>
            <if test="principalEmail != null ">#{principalEmail},</if>
            <if test="classification != null ">#{classification},</if>
            <if test="rate != null">#{rate},</if>
            <if test="reviewRating != null">#{reviewRating},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="inspectionId != null">#{inspectionId},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="inspectionStatus != null">#{inspectionStatus},</if>
            <if test="inspectionAuditStatus != null">#{inspectionAuditStatus},</if>
            <if test="dataSources != null">#{dataSources},</if>
            <if test="headPortraitPath != null">#{headPortraitPath},</if>
            <if test="imagePath != null">#{imagePath},</if>
            <if test="videoPath != null">#{videoPath},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <!-- 批量导入  -->
    <insert id="saveSysSupplier" parameterType="SysSupplier">
        INSERT INTO
        sys_supplier(supplier_id, label, nature, country, province, city, area, detailed_address,
                     business_category, main_category, registration_no, registration_no_in_china,
                     supplier_name_cn, supplier_name_en, supplier_name_own, registration_time,
                     registration_time_validity_period, delete_flag, legal_person, legal_person_telephone,
                     legal_person_email, principal_name, principal_telephone, principal_email,
                     classification, data_sources)
        VALUES
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.supplierId},#{item.label},#{item.nature},#{item.country},#{item.province},#{item.city},#{item.area},
             #{item.detailedAddress},
            #{item.businessCategory},#{item.mainCategory},#{item.registrationNo},#{item.registrationNoInChina},
             #{item.supplierNameCn},#{item.supplierNameEn},#{item.supplierNameOwn},#{item.registrationTime},
             #{item.registrationTimeValidityPeriod},#{item.deleteFlag},#{item.legalPerson},#{item.legalPersonTelephone},
             #{item.legalPersonEmail},#{item.principalName},#{item.principalTelephone},#{item.principalEmail},#{item.classification},#{item.dataSources})
        </foreach>
    </insert>


    <update id="updateSysSupplier" parameterType="SysSupplier">
        update sys_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="label != null">label = #{label},</if>
            <if test="nature != null">nature = #{nature},</if>
            <if test="country != null and country != ''">country = #{country},</if>
            <if test="province != null">province = #{province},</if>
            <if test="city != null">city = #{city},</if>
            <if test="area != null">area = #{area},</if>
            <if test="detailedAddress != null">detailed_address = #{detailedAddress},</if>
            <if test="businessCategory != null">business_category = #{businessCategory},</if>
            <if test="mainCategory != null">main_category = #{mainCategory},</if>
            <if test="mainProductId != null">main_product_id = #{mainProductId},</if>
            <if test="mainProduct != null">main_product = #{mainProduct},</if>
            <if test="registrationNo != null and registrationNo != ''">registration_no = #{registrationNo},</if>
            <if test="registrationNoInChina != null">registration_no_in_china = #{registrationNoInChina},</if>
            <if test="supplierNameCn != null">supplier_name_cn = #{supplierNameCn},</if>
            <if test="supplierNameEn != null">supplier_name_en = #{supplierNameEn},</if>
            <if test="supplierNameOwn != null">supplier_name_own = #{supplierNameOwn},</if>
            <if test="registrationTime != null">registration_time = #{registrationTime},</if>
            <if test="registrationTimeValidityPeriod != null">registration_time_validity_period = #{registrationTimeValidityPeriod},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="reviewRating != null">review_rating = #{reviewRating},</if>
            <if test="inspectionId != null">inspection_id = #{inspectionId},</if>
            <if test="principalName != null ">principal_name = #{principalName},</if>
            <if test="principalTelephone != null ">principal_telephone = #{principalTelephone},</if>
            <if test="principalEmail != null ">principal_email = #{principalEmail},</if>
            <if test="classification != null">classification = #{classification},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="inspectionStatus != null">inspection_status = #{inspectionStatus},</if>
            <if test="inspectionAuditStatus != null">inspection_audit_status = #{inspectionAuditStatus},</if>
            <if test="dataSources != null">data_sources = #{dataSources},</if>
            <if test="headPortraitPath != null">head_portrait_path = #{headPortraitPath},</if>
            <if test="imagePath != null">image_path = #{imagePath},</if>
            <if test="videoPath != null">video_path = #{videoPath},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where supplier_id = #{supplierId}
    </update>

    <update id="deleteSysSupplierBySupplierId" parameterType="String">
        update  sys_supplier set delete_flag=1 where supplier_id = #{supplierId}
    </update>

    <update id="deleteSysSupplierBySupplierIds" parameterType="String">
        update  sys_supplier set delete_flag=1 where supplier_id in
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </update>

    <!--  编辑审核状态  -->
    <update id="editSysSupplierAudit" parameterType="list">
        update sys_supplier
        set audit_status = #{auditStatus}, inspection_status = #{inspectionStatus}, remark = #{remark}
        where supplier_id in
        <foreach item="item" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

<!--  审核考察状态  -->
    <update id="inspectionAuditSysSupplier" parameterType="list">
        update sys_supplier
        set inspection_audit_status = #{inspectionAuditStatus},review_rating = #{rate}
        where supplier_id in
        <foreach item="supplierId" collection="list" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </update>


    <update id="inspectSysSupplier" parameterType="list">
        update sys_supplier
        set inspection_status = 1
        where supplier_id in
        <foreach item="supplierId" collection="list" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </update>
    <update id="updateInspectRate">
        update sys_supplier
        set rate = #{rate},inspection_id = #{inspectionId},inspection_status=2
        where supplier_id = #{supplierId}
    </update>

    <!--  批量删除供应商  -->
    <update id="deleteSysProductBySupplierIds" parameterType="String">
        update sys_supplier
        set delete_flag = 1
        where supplier_id in
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </update>

<!--    <delete id="deleteSysProductBySupplierIds" parameterType="String">-->
<!--        delete from sys_product where supplier_id in-->
<!--        <foreach item="supplierId" collection="array" open="(" separator="," close=")">-->
<!--            #{supplierId}-->
<!--        </foreach>-->
<!--    </delete>-->


    <delete id="deleteSysProductBySupplierId" parameterType="String">
        delete from sys_product where supplier_id = #{supplierId}
    </delete>

    <insert id="batchSysProduct">
        insert into sys_product(product_id,
                                supplier_id, supplier_name, product_name, primary_category, primary_category_name,
                                secondary_category, secondary_category_name, tertiary_category, tertiary_category_name,
                                quaternary_category, quaternary_category_name, fifth_category, fifth_category_name,
                                cn_primary_category, cn_primary_category_name, cn_secondary_category, cn_secondary_category_name,
                                cn_tertiary_category, cn_tertiary_category_name, cn_quaternary_category, cn_quaternary_category_name,
                                cn_fifth_category, cn_fifth_category_name, domestic_imported_type, product_model,
                                product_video, product_image, quotation_flag, sample, specifications, inventory, status,
                                production_date, shelf_life, origin, storage_mode, warehouse_address, main_product,
                                remark, mark,
                                unitprice, unitprice_unit, start_batch, batch_unit
        ) values
        <foreach item="item" index="index" collection="list" separator=",">
            ( #{item.productId}, #{item.supplierId}, #{item.supplierName}, #{item.productName},
             #{item.primaryCategory}, #{item.primaryCategoryName}, #{item.secondaryCategory}, #{item.secondaryCategoryName},
             #{item.tertiaryCategory}, #{item.tertiaryCategoryName}, #{item.quaternaryCategory}, #{item.quaternaryCategoryName},
             #{item.fifthCategory}, #{item.fifthCategoryName}, #{item.cnPrimaryCategory}, #{item.cnPrimaryCategoryName},
             #{item.cnSecondaryCategory}, #{item.cnSecondaryCategoryName}, #{item.cnTertiaryCategory}, #{item.cnTertiaryCategoryName},
             #{item.cnQuaternaryCategory}, #{item.cnQuaternaryCategoryName}, #{item.cnFifthCategory}, #{item.cnFifthCategoryName},
             #{item.domesticImportedType}, #{item.productModel}, #{item.productVideo}, #{item.productImage},
             #{item.quotationFlag}, #{item.sample}, #{item.specifications}, #{item.inventory},
             #{item.status}, #{item.productionDate}, #{item.shelfLife}, #{item.origin},
             #{item.storageMode}, #{item.warehouseAddress}, #{item.mainProduct}, #{item.remark},
             #{item.mark}, #{item.unitprice}, #{item.unitpriceUnit}, #{item.startBatch},
             #{item.batchUnit})
        </foreach>
    </insert>
</mapper>