<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>Document</title>

    <script th:src="@{/ezuikit-js/ezuikit.js}"></script>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            text-align: center;
            background: #FFFFFF;
            overflow: hidden;
        }
    </style>
</head>

<body>
<div id="playWind"></div>
<script th:inline="javascript">
    var domain = "https://open.ys7.com";
    var EZOPENDemo;
    window.EZOPENDemo = EZOPENDemo;
    var width = document.documentElement.clientWidth;
    var height = document.documentElement.clientWidth * 9 / 16;
    const serialNum = [[${serialNum}]];
    const accessToken = [[${accessToken}]];
    const ezopenInit = () => {
        EZOPENDemo = new EZUIKit.EZUIKitPlayer({
            id: 'playWind',
            width: width,
            height: height,
            template: "mobileRec",
            url: `ezopen://open.ys7.com/${serialNum}/1.live`,
            accessToken: `${accessToken}`
        });
    }
    ezopenInit();
</script>
</body>

</html>
