<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultantTeamSupervisionMapper">
    
    <resultMap type="PsyConsultantTeamSupervision" id="PsyConsultantTeamSupervisionResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="headPicUrl"    column="head_pic_url"    />
        <result property="specialPicUrl"    column="special_pic_url"    />
        <result property="registerNoticePicUrl"    column="register_notice_pic_url"    />
        <result property="cycle"    column="cycle"    />
        <result property="cycleNumber"    column="cycle_number"    />
        <result property="consultantId"    column="consultant_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        
        <result property="periodNo" column="period_no" />
        <result property="weekDay" column="week_day" />
        <result property="lectureStartTime" column="lecture_start_time" />
        <result property="lectureEndTime" column="lecture_end_time" />
        <result property="firstLectureDate" column="first_lecture_date" />
        <result property="maxNumPeople" column="max_num_people" />
        <result property="price" column="price" />
        <result property="teamType" column="team_type" />
    </resultMap>

    <sql id="selectPsyConsultantTeamSupervisionVo">
        team.id, team.title, team.head_pic_url, team.special_pic_url, team.register_notice_pic_url, team.cycle, team.cycle_number, team.consultant_id, team.status, team.remark, team.del_flag,
        team.create_by, team.create_time, team.update_by, team.update_time,
        team.period_no,team.week_day,team.lecture_start_time, team.lecture_end_time,team.first_lecture_date,team.max_num_people,team.price,team.team_type            
        
    </sql>

    <select id="selectPsyConsultantTeamSupervisionList" parameterType="PsyConsultantTeamSupervision" resultMap="PsyConsultantTeamSupervisionResult">
        select 
            <include refid="selectPsyConsultantTeamSupervisionVo"/>
            ,
            con.user_name as consultUserName,
            con.avatar as consultAvatar,
            con.img as consultImg,
            con.tabs as consultTabs,
            con.info as consultInfo,
            con.detail as consultDetail,
            con.experience as consultExperience,
            con.genre as consultGenre,
               
            con.mode as consultMode,
            con.qualification as consultQualification,
            con.way_str as consultWayStr
        from psy_consultant_team_supervision team
        left join psy_consult con on team.consultant_id = con.id
        left join psy_consult_work wk on team.consultant_id = wk.consult_id and wk.status = 0 and wk.live != "[]"
        <where>
            team.del_flag = 0
            <if test="title != null  and title != ''"> and team.title like concat('%',#{title},'%') </if>
            <if test="headPicUrl != null  and headPicUrl != ''"> and team.head_pic_url = #{headPicUrl}</if>
            <if test="specialPicUrl != null  and specialPicUrl != ''"> and team.special_pic_url = #{specialPicUrl}</if>
            <if test="registerNoticePicUrl != null  and registerNoticePicUrl != ''"> and team.register_notice_pic_url = #{registerNoticePicUrl}</if>
            <if test="cycle != null  and cycle != ''"> and team.cycle = #{cycle}</if>
            <if test="cycleNumber != null "> and team.cycle_number = #{cycleNumber}</if>
            <if test="consultantId != null  and consultantId != ''"> and team.consultant_id = #{consultantId}</if>
            <if test="status != null  and status != ''"> and team.status = #{status}</if>
            <if test="teamType != null  and teamType != ''"> and team.team_type = #{teamType}</if>
            
            <if test="weekDay != null  and weekDay != ''"> and team.week_day = #{weekDay}</if>
            <if test="lectureStartTimeBegin != null  and lectureStartTimeBegin != ''"> and team.lecture_start_time &gt;= #{lectureStartTimeBegin}</if>
            <if test="lectureEndTimeFinish != null  and lectureEndTimeFinish != ''"> and team.lecture_start_time &lt;= #{lectureEndTimeFinish}</if>
            <if test="minPrice != null  and minPrice != ''"> and team.price &gt;= #{minPrice}</if>
            <if test="maxPrice != null  and maxPrice != ''"> and team.price &lt;= #{maxPrice}</if>
            
            <if test="consultTabs != null  and consultTabs != ''"> and con.tabs like concat('%',#{consultTabs},'%')</if>
            <if test="consultGenre != null  and consultGenre != ''"> and con.genre like concat('%',#{consultGenre},'%')</if>
            
            <if test="waitDays != null  and waitDays != ''"> and wk.day >= CURDATE() AND day &lt; CURDATE() + INTERVAL #{waitDays} DAY</if>

            <if test="idList != null and idList.size > 0">
                and team.id in 
                <foreach collection="idList" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
        group by team.id
        order by team.create_time desc
    </select>

    <select id="selectPsyConsultantPersonSupervisionList"
            resultType="com.renxin.psychology.domain.PsyConsultantTeamSupervision">
        select
            DISTINCT con.id  as consultantId,
            cf.price  as price,
            con.user_name as consultUserName,
            con.avatar as consultAvatar,
            con.img as consultImg,
            con.tabs as consultTabs,
            con.info as consultInfo,
            con.detail as consultDetail,
            con.experience as consultExperience,
            con.genre as consultGenre,
            con.level as consultLevel,
    
            con.mode as consultMode,
            con.qualification as consultQualification,
            con.way_str as consultWayStr,
            con.create_time
        from
            psy_consult con
            left join psy_consult_work wk on con.id = wk.consult_id and wk.status = 0 and wk.live != "[]"
            left join psy_consult_serve ser on ser.consult_id = con.id
            left join psy_consult_server_config cf on ser.serve_id = cf.id 
        where con.del_flag = 0 and cf.type = 1
        <if test="teamType != null  and teamType != ''"> and cf.service_object = #{teamType} </if>
        
        <if test="consultTabs != null  and consultTabs != ''"> and con.tabs like concat('%',#{consultTabs},'%')</if>
        <if test="consultGenre != null  and consultGenre != ''"> and con.genre like concat('%',#{consultGenre},'%')</if>

        <if test="waitDays != null  and waitDays != ''"> and wk.day >= CURDATE() AND day &lt; CURDATE() + INTERVAL #{waitDays} DAY</if>
        order by con.create_time desc 
    </select>
    
    <select id="selectPsyConsultantTeamSupervisionById" parameterType="Long" resultMap="PsyConsultantTeamSupervisionResult">
        select
        <include refid="selectPsyConsultantTeamSupervisionVo"/>
        ,
        con.user_name as consultUserName,
        con.avatar as consultAvatar,
        con.img as consultImg,
        con.tabs as consultTabs,
        con.info as consultInfo,
        con.detail as consultDetail,
        con.experience as consultExperience,
        con.genre as consultGenre
        from psy_consultant_team_supervision team
        left join psy_consult con on team.consultant_id = con.id
        where team.id = #{id}
    </select>
    
    <insert id="insertPsyConsultantTeamSupervision" parameterType="PsyConsultantTeamSupervision" useGeneratedKeys="true" keyProperty="id" >
        insert into psy_consultant_team_supervision
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="headPicUrl != null">head_pic_url,</if>
            <if test="specialPicUrl != null">special_pic_url,</if>
            <if test="registerNoticePicUrl != null">register_notice_pic_url,</if>
            <if test="cycle != null">cycle,</if>
            <if test="cycleNumber != null">cycle_number,</if>
            <if test="consultantId != null">consultant_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <!-- 新增字段 -->
            <if test="periodNo != null">period_no,</if>
            <if test="weekDay != null">week_day,</if>
            <if test="lectureStartTime != null">lecture_start_time,</if>
            <if test="lectureEndTime != null">lecture_end_time,</if>
            <if test="firstLectureDate != null">first_lecture_date,</if>
            <if test="maxNumPeople != null">max_num_people,</if>
            <if test="price != null">price,</if>
            <if test="teamType != null">team_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="headPicUrl != null">#{headPicUrl},</if>
            <if test="specialPicUrl != null">#{specialPicUrl},</if>
            <if test="registerNoticePicUrl != null">#{registerNoticePicUrl},</if>
            <if test="cycle != null">#{cycle},</if>
            <if test="cycleNumber != null">#{cycleNumber},</if>
            <if test="consultantId != null">#{consultantId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <!-- 新增字段 -->
            <if test="periodNo != null">#{periodNo},</if>
            <if test="weekDay != null">#{weekDay},</if>
            <if test="lectureStartTime != null">#{lectureStartTime},</if>
            <if test="lectureEndTime != null">#{lectureEndTime},</if>
            <if test="firstLectureDate != null">#{firstLectureDate},</if>
            <if test="maxNumPeople != null">#{maxNumPeople},</if>
            <if test="price != null">#{price},</if>
            <if test="teamType != null">#{teamType},</if>
         </trim>
    </insert>

    <update id="updatePsyConsultantTeamSupervision" parameterType="PsyConsultantTeamSupervision">
        update psy_consultant_team_supervision
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="headPicUrl != null">head_pic_url = #{headPicUrl},</if>
            <if test="specialPicUrl != null">special_pic_url = #{specialPicUrl},</if>
            <if test="registerNoticePicUrl != null">register_notice_pic_url = #{registerNoticePicUrl},</if>
            <if test="cycle != null">cycle = #{cycle},</if>
            <if test="cycleNumber != null">cycle_number = #{cycleNumber},</if>
            <if test="consultantId != null">consultant_id = #{consultantId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <!-- 新增字段 -->
            <if test="periodNo != null">period_no = #{periodNo},</if>
            <if test="weekDay != null">week_day = #{weekDay},</if>
            <if test="lectureStartTime != null">lecture_start_time = #{lectureStartTime},</if>
            <if test="lectureEndTime != null">lecture_end_time = #{lectureEndTime},</if>
            <if test="firstLectureDate != null">first_lecture_date = #{firstLectureDate},</if>
            <if test="maxNumPeople != null">max_num_people = #{maxNumPeople},</if>
            <if test="price != null">price = #{price},</if>
            <if test="teamType != null">team_type = #{teamType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyConsultantTeamSupervisionById" parameterType="Long">
        update psy_consultant_team_supervision
        set del_flag = 1 where id = #{id}
    </delete>

    <delete id="deletePsyConsultantTeamSupervisionByIds" parameterType="String">
        update psy_consultant_team_supervision
        set del_flag = 1
        where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>