<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultantPackageMapper">
    
    <resultMap type="PsyConsultantPackage" id="PsyConsultantPackageResult">
        <result property="packageId"    column="package_id"    />
        <result property="productName"    column="product_name"    />
        <result property="productPicUrl"    column="product_pic_url"    />
        <result property="detailPicUrl"    column="detail_pic_url"    />
        <result property="teamSupNum"    column="team_sup_num"    />
        <result property="personSupNum"    column="person_sup_num"    />
        <result property="personExpNum"    column="person_exp_num"    />
        <result property="courseNum"    column="course_num"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="teamSupCouponTemplateId"    column="team_sup_coupon_template_id"    />
        <result property="personSupCouponTemplateId"    column="person_sup_coupon_template_id"    />
        <result property="personExpCouponTemplateId"    column="person_exp_coupon_template_id"    />
        <result property="courseCouponTemplateId"    column="course_coupon_template_id"    />
    </resultMap>

    <sql id="selectPsyConsultantPackageVo">
        select package_id, product_name, product_pic_url, detail_pic_url,  status, del_flag, create_by, create_time,
               update_by, update_time,
               team_sup_num , person_sup_num, person_exp_num, course_num,price,
               team_sup_coupon_template_id,person_sup_coupon_template_id,person_exp_coupon_template_id,course_coupon_template_id
           from psy_consultant_package
    </sql>

    <select id="selectPsyConsultantPackageList" parameterType="PsyConsultantPackage" resultMap="PsyConsultantPackageResult">
        <include refid="selectPsyConsultantPackageVo"/>
        <where>  
            and del_flag = 0
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="productPicUrl != null  and productPicUrl != ''"> and product_pic_url = #{productPicUrl}</if>
            <if test="detailPicUrl != null  and detailPicUrl != ''"> and detail_pic_url = #{detailPicUrl}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="packageIdList != null and packageIdList.size > 0">
                and package_id in
                <foreach collection="packageIdList" open="(" close=")" separator="," item="id">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectPsyConsultantPackageByPackageId" parameterType="Long" resultMap="PsyConsultantPackageResult">
        <include refid="selectPsyConsultantPackageVo"/>
        where package_id = #{packageId}
    </select>
        
    <insert id="insertPsyConsultantPackage" parameterType="PsyConsultantPackage">
        insert into psy_consultant_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packageId != null">package_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="productPicUrl != null">product_pic_url,</if>
            <if test="detailPicUrl != null">detail_pic_url,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="teamSupNum != null">team_sup_num,</if>
            <if test="personSupNum != null">person_sup_num,</if>
            <if test="personExpNum != null">person_exp_num,</if>
            <if test="courseNum != null">course_num,</if>
            <if test="price != null">price,</if>
            <if test="teamSupCouponTemplateId != null">team_sup_coupon_template_id,</if>
            <if test="personSupCouponTemplateId != null">person_sup_coupon_template_id,</if>
            <if test="personExpCouponTemplateId != null">person_exp_coupon_template_id,</if>
            <if test="courseCouponTemplateId != null">course_coupon_template_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packageId != null">#{packageId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="productPicUrl != null">#{productPicUrl},</if>
            <if test="detailPicUrl != null">#{detailPicUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="teamSupNum != null">#{teamSupNum},</if>
            <if test="personSupNum != null">#{personSupNum},</if>
            <if test="personExpNum != null">#{personExpNum},</if>
            <if test="courseNum != null">#{courseNum},</if>
            <if test="price != null">#{price},</if>
            <if test="teamSupCouponTemplateId != null">#{teamSupCouponTemplateId},</if>
            <if test="personSupCouponTemplateId != null">#{personSupCouponTemplateId},</if>
            <if test="personExpCouponTemplateId != null">#{personExpCouponTemplateId},</if>
            <if test="courseCouponTemplateId != null">#{courseCouponTemplateId},</if>
         </trim>
    </insert>

    <update id="updatePsyConsultantPackage" parameterType="PsyConsultantPackage">
        update psy_consultant_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="productName != null">product_name = #{productName},</if>
            <if test="productPicUrl != null">product_pic_url = #{productPicUrl},</if>
            <if test="detailPicUrl != null">detail_pic_url = #{detailPicUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="teamSupNum != null">team_sup_num = #{teamSupNum},</if>
            <if test="personSupNum != null">person_sup_num = #{personSupNum},</if>
            <if test="personExpNum != null">person_exp_num = #{personExpNum},</if>
            <if test="courseNum != null">course_num = #{courseNum},</if>
            <if test="price != null">price = #{price},</if>
            <if test="teamSupCouponTemplateId != null">team_sup_coupon_template_id = #{teamSupCouponTemplateId},</if>
            <if test="personSupCouponTemplateId != null">person_sup_coupon_template_id = #{personSupCouponTemplateId},</if>
            <if test="personExpCouponTemplateId != null">person_exp_coupon_template_id = #{personExpCouponTemplateId},</if>
            <if test="courseCouponTemplateId != null">course_coupon_template_id = #{courseCouponTemplateId},</if>
        </trim>
        where package_id = #{packageId}
    </update>

    <delete id="deletePsyConsultantPackageByPackageId" parameterType="Long">
        delete from psy_consultant_package where package_id = #{packageId}
    </delete>

    <delete id="deletePsyConsultantPackageByPackageIds" parameterType="String">
        update psy_consultant_package 
            set del_flag = 1
        where package_id in 
        <foreach item="packageId" collection="array" open="(" separator="," close=")">
            #{packageId}
        </foreach>
    </delete>
</mapper>