<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultBillItemMapper">
    <insert id="insertBatch">
        INSERT INTO psy_consult_bill_item (id, bill_id, order_id, team_id, consult_id, consult_name, type, ratio, order_no, order_time, serve_name, serve_type, 
                                           buy_num, order_num, num, nick_name, price, brokerage, order_total, use_time, bill_time, create_by, create_time, 
                                           update_by, update_time, buy_num_str, schedule_type, pay_user_id, pay_user_type)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.billId},
            #{item.orderId},
            #{item.teamId},
            #{item.consultId},
            #{item.consultName},
            #{item.type},
            #{item.ratio},
            #{item.orderNo},
            #{item.orderTime},
            #{item.serveName},
            #{item.serveType},
            #{item.buyNum},
            #{item.orderNum},
            #{item.num},
            #{item.nickName},
            #{item.price},
            #{item.brokerage},
            #{item.orderTotal},
            #{item.useTime},
            #{item.billTime},
            #{item.createBy},
            #{item.createTime},
            #{item.updateBy},
            #{item.updateTime},
            #{item.buyNumStr},
            #{item.scheduleType},
            #{item.payUserId},
            #{item.payUserType}
            )
        </foreach>
    </insert>
    
    <update id="finishSchedule">
        update
            psy_consultant_schedule
        set 
            status = 1 
        where
            schedule_type in (22,23)
        and status = 0 
        and NOW() > concat(day," ",time_end)
    </update>
    
    <update id="finishOrderItem">
        update
            psy_consultant_schedule
        set
            status = 1
        where
            status = 0
          and NOW() > concat(day," ",time_end)
    </update>

    <select id="getOrderItems" resultType="com.renxin.psychology.domain.PsyConsultBillItem">
        SELECT
            a.id,
            a.order_id  order_id,
            a.consult_id  consult_id,
            b.nick_name  consult_name,
            CASE WHEN c.type = 1 THEN '合作型' ELSE '签约型' END type,
            c.ratio  ratio,
            d.order_no  order_no,
            d.create_time  order_time,
            d.serve_name  serve_name,
            CASE WHEN e.type = 1 THEN '单次' ELSE '套餐' END serve_type,
            e.num  order_num,
            d.num  num,
            d.user_id  payUserId,
            1 as payUserType,
            d.nick_name  nick_name,
            d.original_price  order_total,
            STR_TO_DATE(a.real_time, '%Y-%m-%d %H:%i') use_time,
            a.create_by  create_by,
            a.create_time  create_time,
            a.update_by  update_by,
            a.update_time  update_time,
            12 as scheduleType
        FROM
            psy_consult_order_item a
                LEFT JOIN psy_consult_bill_item f on a.id = f.id
                INNER JOIN psy_consult b on a.consult_id = b.id
                INNER JOIN psy_consult_contract c on a.consult_id = c.consult_id
                INNER JOIN psy_consult_order d on a.order_id = d.id
                INNER JOIN psy_consult_order_serve e on a.order_id = e.order_id
        WHERE
            a.`status` = '1' and f.id is null and c.`status` = '5'
        order by a.order_id asc,a.real_time asc
    </select>

    <select id="getConsultantOrderItems" resultType="com.renxin.psychology.domain.PsyConsultBillItem">
        SELECT
            sc.id,
            IF(sc.order_id IS NOT NULL AND sc.order_id != '', sc.order_id, sc.team_id) AS keyId,
            sc.order_id  order_id,
            sc.team_id  teamId,
            sc.consult_id  consult_id,
            b.nick_name  consult_name,
            CASE WHEN c.type = 1 THEN '合作型' ELSE '签约型' END type,
            d.consultant_ratio ratio,
            team.lecture_amount as brokerage,
            d.order_no  order_no,
            d.create_time  order_time,
            d.server_name  serve_name,
            CASE WHEN sc.total_num = 1 THEN '单次' ELSE '套餐' END serve_type,
            sc.total_num  order_num,
            sc.time_num  buyNum,
            d.pay_consultant_id  payUserId,
            2 as payUserType,
            d.pay_consultant_name  nick_name,
            d.original_price  order_total,
            STR_TO_DATE(sc.real_time, '%Y-%m-%d %H:%i') use_time,
            sc.real_time realTime,
            sc.create_by  create_by,
            sc.create_time  create_time,
            sc.update_by  update_by,
            sc.update_time  update_time,
            sc.schedule_type as scheduleType
        FROM
            psy_consultant_schedule sc
                LEFT JOIN psy_consult_bill_item f on sc.id = f.id
                INNER JOIN psy_consult b on sc.consult_id = b.id
                INNER JOIN psy_consult_contract c on sc.consult_id = c.consult_id
                left JOIN psy_consultant_order d on sc.order_id = d.order_no 
                left join psy_consultant_team_supervision team on sc.team_id = team.id
        WHERE
            sc.`status` = '1' and f.id is null  /* and c.`status` = '5'*/
        order by sc.order_id asc,sc.real_time asc
    </select>

    <select id="getOrderItemsConsultant" resultType="com.renxin.psychology.domain.PsyConsultBillItem">
        SELECT
            a.id,
            a.order_id  order_id,
            a.consult_id  consult_id,
            b.nick_name  consult_name,
            CASE WHEN c.type = 1 THEN '合作型' ELSE '签约型' END type,
            c.ratio  ratio,
            d.order_no  order_no,
            d.create_time  order_time,
            d.serve_name  serve_name,
            CASE WHEN e.type = 1 THEN '单次' ELSE '套餐' END serve_type,
            e.num  order_num,
            d.num  num,
            d.nick_name  nick_name,
            d.pay  order_total,
            STR_TO_DATE(a.real_time, '%Y-%m-%d %H:%i') use_time,
            a.create_by  create_by,
            a.create_time  create_time,
            a.update_by  update_by,
            a.update_time  update_time
        FROM
            psy_consult_order_item a
                LEFT JOIN psy_consult_bill_item f on a.id = f.id
                INNER JOIN psy_consult b on a.consult_id = b.id
                INNER JOIN psy_consult_contract c on a.consult_id = c.consult_id
                INNER JOIN psy_consult_order d on a.order_id = d.id
                INNER JOIN psy_consult_order_serve e on a.order_id = e.order_id
        WHERE
            a.`status` = '1' and f.id is null and c.`status` = '5'
        order by a.order_id asc,a.real_time asc
    </select>

    <select id="getItemList" resultType="com.renxin.psychology.dto.BillItemDTO">
        SELECT
        a.id,
        a.order_id,
        a.use_time,
        a.consult_name,
        a.order_no,
        a.order_time,
        a.serve_name,
        a.serve_type,
        a.buy_num_str,
        a.order_num,
        a.num,
        a.nick_name,
        CASE WHEN b.`status` = '2' THEN '已完成' ELSE '进行中' END `status`,
        CASE WHEN a.order_num = COUNT( c.order_id ) THEN '已结算' WHEN COUNT( c.order_id ) > 0 THEN '部分结算' ELSE '未结算' END `bill_status`
        FROM
        psy_consult_bill_item a
        INNER JOIN psy_consult_order b on a.order_id = b.id
        LEFT JOIN
        psy_consult_bill_item c ON a.order_id = c.order_id AND c.bill_id > 0
        <where>
            <if test="consultId != null"> and a.consult_id = #{consultId}</if>
            <if test="orderNo != null  and orderNo != ''"> and a.order_no = #{orderNo}</if>
            <if test="startTime != null "> and a.use_time <![CDATA[ >= ]]> #{startTime}</if>
            <if test="endTime != null "> and a.use_time <![CDATA[ <= ]]> #{endTime}</if>
        </where>
        GROUP BY
        a.id
        order by a.order_id asc,a.use_time asc
    </select>

    <select id="getItemListForDetail" resultType="com.renxin.psychology.domain.PsyConsultBillItem">
        SELECT
        a.id,
        a.order_id,
        a.bill_time,
        a.use_time,
        a.consult_name,
        a.type,
        a.ratio,
        a.order_no,
        a.order_time,
        a.serve_name,
        a.serve_type,
        a.buy_num_str,
        a.order_num,
        a.num,
        a.nick_name,
        a.price,
        a.brokerage,
        a.order_total,
        CASE WHEN b.`status` = '2' THEN '已完成' ELSE '进行中' END `status`,
        CASE WHEN a.order_num = COUNT( c.order_id ) THEN '已结算' WHEN COUNT( c.order_id ) > 0 THEN '部分结算' ELSE '未结算' END `bill_status`,
        SUM(d.brokerage) total
        FROM
        psy_consult_bill_item a
        INNER JOIN psy_consult_order b on a.order_id = b.id
        LEFT JOIN psy_consult_bill_item c ON a.order_id = c.order_id AND c.bill_id > 0
        LEFT JOIN psy_consult_bill_item d ON c.id = d.id AND a.bill_id != d.bill_id
        <where>
            a.bill_id = #{billId}
            <if test="consultId != null"> and a.consult_id = #{consultId}</if>
            <if test="orderNo != null  and orderNo != ''"> and a.order_no = #{orderNo}</if>
        </where>
        GROUP BY
        a.id
        order by a.consult_name, a.order_id asc,a.use_time asc
    </select>

    <select id="getBillItems" resultType="com.renxin.psychology.domain.PsyConsultBillItem">
        select * from psy_consult_bill_item
        where bill_id = 0 and  use_time <![CDATA[ >= ]]> #{startTime} and use_time <![CDATA[ <= ]]> #{endTime}
    </select>

    <select id="getBillItemSum" resultType="java.math.BigDecimal">
        SELECT SUM( brokerage ) total FROM psy_consult_bill_item
        <where>
            bill_id = #{billId}
            <if test="consultId != null"> and consult_id = #{consultId}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
        </where>
    </select>

</mapper>