<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyCouponTemplateMapper">
    
    <resultMap type="PsyCouponTemplate" id="PsyCouponTemplateResult">
        <result property="id"    column="id"    />
        <result property="userType"    column="user_type"    />
        <result property="couponName"    column="coupon_name"    />
        <result property="totalNum"    column="total_num"    />
        <result property="usedNum"    column="used_num"    />
        <result property="couponType"    column="coupon_type"    />
        <result property="serverType"    column="server_type"    />
        <result property="maxDeductionPrice"    column="max_deduction_price"    />
        <result property="discountRate"    column="discount_rate"    />
        <result property="validityDay"    column="validity_day"    />
        <result property="templateStatus"    column="template_status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="useThresholdPrice"    column="use_threshold_price"    />
        <result property="remark"    column="remark"    />
        <result property="isFreeGet"    column="is_free_get"    />
    </resultMap>

    <sql id="selectPsyCouponTemplateVo">
        select id, user_type, coupon_name, total_num, used_num, coupon_type, server_type, max_deduction_price, discount_rate, validity_day, 
               template_status, del_flag, create_by, create_time, update_by, update_time, use_threshold_price , remark from psy_coupon_template
    </sql>

    <select id="selectPsyCouponTemplateList" parameterType="PsyCouponTemplate" resultMap="PsyCouponTemplateResult">
        select
            tem.id, tem.user_type, tem.coupon_name, tem.total_num,  tem.coupon_type, tem.server_type, tem.max_deduction_price, tem.discount_rate, tem.validity_day,
            tem.template_status,  tem.create_by, tem.create_time, tem.update_by, tem.update_time, tem.use_threshold_price, tem.remark, tem.is_free_get,
               count(cou.coupon_no) as used_num
        from psy_coupon_template tem
        left join psy_coupon cou on tem.id = cou.template_id
        
             
        <where>  
            del_flag = 0
            <if test="userType != null "> and tem.user_type = #{userType}</if>
            <if test="couponName != null  and couponName != ''"> and tem.coupon_name like concat('%', #{couponName}, '%')</if>
            <if test="totalNum != null "> and tem.total_num = #{totalNum}</if>
            <if test="usedNum != null "> and tem.used_num = #{usedNum}</if>
            <if test="couponType != null "> and tem.coupon_type = #{couponType}</if>
            <if test="serverType != null "> and tem.server_type = #{serverType}</if>
            <if test="maxDeductionPrice != null "> and tem.max_deduction_price = #{maxDeductionPrice}</if>
            <if test="discountRate != null "> and tem.discount_rate = #{discountRate}</if>
            <if test="validityDay != null "> and tem.validity_day = #{validityDay}</if>
            <if test="templateStatus != null "> and tem.template_status = #{templateStatus}</if>
            <if test="useThresholdPrice != null "> and tem.use_threshold_price = #{useThresholdPrice}</if>
            <if test="isFreeGet != null "> and tem.is_free_get = #{isFreeGet}</if>
        </where>

        group by tem.id
    </select>
    
    <select id="selectPsyCouponTemplateById" parameterType="Long" resultMap="PsyCouponTemplateResult">
        select
            tem.id, tem.user_type, tem.coupon_name, tem.total_num,  tem.coupon_type, tem.server_type, tem.max_deduction_price, tem.discount_rate, tem.validity_day,
            tem.template_status,  tem.create_by, tem.create_time, tem.update_by, tem.update_time, tem.use_threshold_price, tem.remark,tem.is_free_get,
            count(cou.coupon_no) as used_num
        from psy_coupon_template tem
                 left join psy_coupon cou on tem.id = cou.template_id
        where tem.id = #{id}
    </select>
        
    <insert id="insertPsyCouponTemplate" parameterType="PsyCouponTemplate" useGeneratedKeys="true" keyProperty="id">
        insert into psy_coupon_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userType != null">user_type,</if>
            <if test="couponName != null">coupon_name,</if>
            <if test="totalNum != null">total_num,</if>
            <if test="usedNum != null">used_num,</if>
            <if test="couponType != null">coupon_type,</if>
            <if test="serverType != null">server_type,</if>
            <if test="maxDeductionPrice != null">max_deduction_price,</if>
            <if test="discountRate != null">discount_rate,</if>
            <if test="validityDay != null">validity_day,</if>
            <if test="templateStatus != null">template_status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="useThresholdPrice != null">use_threshold_price,</if>
            <if test="remark != null">remark,</if>
            <if test="isFreeGet != null">is_free_get,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userType != null">#{userType},</if>
            <if test="couponName != null">#{couponName},</if>
            <if test="totalNum != null">#{totalNum},</if>
            <if test="usedNum != null">#{usedNum},</if>
            <if test="couponType != null">#{couponType},</if>
            <if test="serverType != null">#{serverType},</if>
            <if test="maxDeductionPrice != null">#{maxDeductionPrice},</if>
            <if test="discountRate != null">#{discountRate},</if>
            <if test="validityDay != null">#{validityDay},</if>
            <if test="templateStatus != null">#{templateStatus},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="useThresholdPrice != null">#{useThresholdPrice},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isFreeGet != null">#{isFreeGet},</if>
         </trim>
    </insert>

    <update id="updatePsyCouponTemplate" parameterType="PsyCouponTemplate">
        update psy_coupon_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="userType != null">user_type = #{userType},</if>
            <if test="couponName != null">coupon_name = #{couponName},</if>
            <if test="totalNum != null">total_num = #{totalNum},</if>
            <if test="usedNum != null">used_num = #{usedNum},</if>
            <if test="couponType != null">coupon_type = #{couponType},</if>
            <if test="serverType != null">server_type = #{serverType},</if>
            <if test="maxDeductionPrice != null">max_deduction_price = #{maxDeductionPrice},</if>
            <if test="discountRate != null">discount_rate = #{discountRate},</if>
            <if test="validityDay != null">validity_day = #{validityDay},</if>
            <if test="templateStatus != null">template_status = #{templateStatus},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="useThresholdPrice != null">use_threshold_price = #{useThresholdPrice},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isFreeGet != null">is_free_get = #{isFreeGet},</if>
        </trim>
        where id = #{id}
    </update>
    
    <update id="switchTemplateStatus" parameterType="Long">
        UPDATE psy_coupon_template
        SET template_status = 
            CASE
                WHEN template_status = 0 THEN 1
            ELSE 0
            END
        WHERE id = #{id};
    </update>

    <delete id="deletePsyCouponTemplateById" parameterType="Long">
        delete from psy_coupon_template where id = #{id}
    </delete>

    <delete id="deletePsyCouponTemplateByIds" parameterType="String">
        update psy_coupon_template
            set del_flag = 1
        where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>