<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyConsultOrderItemMapper">
<select id="getOrderItemList" resultType="com.renxin.psychology.dto.OrderItemDTO">
   SELECT
    a.*,
    b.user_name AS `consultantName`,
    b.avatar AS `consultantAvatar`,
    c.name AS `userNickName`,
    c.avatar AS `userAvatar`
FROM
    psy_consult_order_item a
INNER JOIN psy_consult b ON b.id = a.consult_id
INNER JOIN psy_consult_order d ON d.id = a.order_id
INNER JOIN psy_user c ON c.id = d.user_id


        where
            a.consult_id =  #{consultId} 
           and a.day= #{day}
        ORDER BY a.day,time_start asc
    </select>
    
    
<select id="getTodoList" parameterType="com.renxin.psychology.request.PsyWorkReq" resultType="com.renxin.psychology.dto.OrderItemDTO">
    select
        item.id,
        item.order_id,
        item.work_id,
        item.time_start,
        item.time_end,
        item.day,
        item.week,
        item.status,
        item.customer_confirm,
        item.work_record,
        item.time,
        item.consult_id,
        concat(item.day,' ',item.time_start) as realTime,
        con.user_name AS `consultantName`,
        con.avatar AS `consultantAvatar`,
        user.id AS `userId`,
        user.name AS `userNickName`,
        user.avatar AS `userAvatar`,
        server.name as serverName,
        server.mode as mode
           
    from
        psy_consult_order_item item 
    left join psy_consult con on con.id = item.consult_id
    left join psy_consult_order orde on orde.id = item.order_id
    left join psy_user user on user.id = orde.user_id
    left join psy_consult_server_config server on server.id = orde.serve_id

    where
        1=1
      <if test="consultId != null and consultId != ''">and item.consult_id = #{consultId}</if>
      <if test="day != null and day != ''">and item.day = #{day}</if>
      <if test="start != null and start != ''"> AND item.day >= #{start}</if>
      <if test="end != null and end != ''"> AND item.day &lt;= #{end}</if>
      <if test="week != null and week != ''"> AND item.week = #{week}</if>
      <if test="status != null and status != ''"> AND item.status = #{status}</if>
      
    ORDER BY item.day,item.time_start asc
</select>
    
    <select id="getTimeNumForConsulted" parameterType="com.renxin.psychology.request.PsyWorkReq" resultType="java.lang.Integer">
        select 
            count(item.id)
        from
            psy_consult_order_item item
        left join psy_consult con on con.id = item.consult_id
        left join psy_consult_order orde on orde.id = item.order_id
        where
            item.consult_id =  #{consultId}
            and item.status in (0,1)
            and orde.user_id = #{userId}
            and concat(item.day , ' ', item.time_start) &lt;= #{realTime}
    </select>


    <select id="queryOrderItemList" parameterType="com.renxin.psychology.dto.OrderItemDTO" resultType="com.renxin.psychology.dto.OrderItemDTO">
        select
            item.id,
            item.order_id as orderId,
            item.work_id as workId,
            item.time_start as timeStart,
            item.time_end as timeEnd,
            item.day,
            item.week,
            item.status,
            item.create_by as createBy,
            item.create_time as createTime,
            item.update_by as updateBy,
            item.update_time as updateTime,
            item.time,
            item.real_time as realTime,
            item.consult_id as consultId,
            CONCAT(item.day, ' ',
            LPAD(SUBSTRING_INDEX(item.time_start, ':', 1), 2, '0'), ':',
            LPAD(SUBSTRING_INDEX(item.time_start, ':', -1), 2, '0')
            ) AS serverStartTime,
            od.user_id as userId,
            con.user_name as consultantName,
            user.name as userNickName   
        from
            psy_consult_order_item item
        left join psy_consult_order od on item.order_id = od.id
        left join psy_consult con on item.consult_id = con.id
        left join psy_user user on od.user_id = user.id
        where
            1=1
            <if test="id != null">and item.id = #{id}</if>
            <if test="orderId != null">and item.order_id = #{orderId}</if>
            <if test="workId != null">and item.work_id = #{workId}</if>
            <if test="timeStart != null">and item.time_start = #{timeStart}</if>
            <if test="timeEnd != null">and item.time_end = #{timeEnd}</if>
            <if test="day != null">and item.day = #{day}</if>
            <if test="week != null">and item.week = #{week}</if>
            <if test="status != null">and item.status = #{status}</if>
            <if test="createBy != null">and item.create_by = #{createBy}</if>
            <if test="createTime != null">and item.create_time = #{createTime}</if>
            <if test="updateBy != null">and item.update_by = #{updateBy}</if>
            <if test="updateTime != null">and item.update_time = #{updateTime}</if>
            <if test="time != null">and item.time = #{time}</if>
            <if test="realTime != null">and item.real_time = #{realTime}</if>
            <if test="consultId != null">and item.consult_id = #{consultId}</if>
            <if test="userId != null">and od.user_id = #{userId}</if>

        <if test="orderBy != null and orderDir != null">
            order by ${orderBy} ${orderDir}
        </if>
    </select>

</mapper>