<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.renxin.psychology.mapper.PsyUserLabelMapper">
    
    <resultMap type="PsyUserLabel" id="PsyUserLabelResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="consultantId"    column="consultant_id"    />
        <result property="userFillLabel"    column="user_fill_label"    />
        <result property="consultantFillLabel"    column="consultant_fill_label"    />
        <result property="adminFillLabel"    column="admin_fill_label"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="paramNo2"    column="param_no2"    />
        <result property="paramNo3"    column="param_no3"    />
    </resultMap>

    <sql id="selectPsyUserLabelVo">
        select id, user_id, consultant_id, user_fill_label, consultant_fill_label, admin_fill_label, del_flag, create_by, create_time, update_by, update_time, consultant_id, param_no2, param_no3 from psy_user_label
    </sql>

    <select id="selectPsyUserLabelList" parameterType="PsyUserLabel" resultMap="PsyUserLabelResult">
        <include refid="selectPsyUserLabelVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userFillLabel != null  and userFillLabel != ''"> and user_fill_label = #{userFillLabel}</if>
            <if test="consultantFillLabel != null  and consultantFillLabel != ''"> and consultant_fill_label = #{consultantFillLabel}</if>
            <if test="adminFillLabel != null  and adminFillLabel != ''"> and admin_fill_label = #{adminFillLabel}</if>
            <if test="consultantId != null  and consultantId != ''"> and consultant_id = #{consultantId}</if>
            <if test="paramNo2 != null  and paramNo2 != ''"> and param_no2 = #{paramNo2}</if>
            <if test="paramNo3 != null  and paramNo3 != ''"> and param_no3 = #{paramNo3}</if>
        </where>
    </select>
    
    <select id="selectPsyUserLabelById" parameterType="Long" resultMap="PsyUserLabelResult">
        <include refid="selectPsyUserLabelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPsyUserLabel" parameterType="PsyUserLabel" useGeneratedKeys="true" keyProperty="id">
        insert into psy_user_label
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="userFillLabel != null">user_fill_label,</if>
            <if test="consultantFillLabel != null">consultant_fill_label,</if>
            <if test="adminFillLabel != null">admin_fill_label,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="consultantId != null">consultant_id,</if>
            <if test="paramNo2 != null">param_no2,</if>
            <if test="paramNo3 != null">param_no3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="userFillLabel != null">#{userFillLabel},</if>
            <if test="consultantFillLabel != null">#{consultantFillLabel},</if>
            <if test="adminFillLabel != null">#{adminFillLabel},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="consultantId != null">#{consultantId},</if>
            <if test="paramNo2 != null">#{paramNo2},</if>
            <if test="paramNo3 != null">#{paramNo3},</if>
         </trim>
    </insert>

    <update id="updatePsyUserLabel" parameterType="PsyUserLabel">
        update psy_user_label
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userFillLabel != null">user_fill_label = #{userFillLabel},</if>
            <if test="consultantFillLabel != null">consultant_fill_label = #{consultantFillLabel},</if>
            <if test="adminFillLabel != null">admin_fill_label = #{adminFillLabel},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="consultantId != null">consultant_id = #{consultantId},</if>
            <if test="paramNo2 != null">param_no2 = #{paramNo2},</if>
            <if test="paramNo3 != null">param_no3 = #{paramNo3},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePsyUserLabelById" parameterType="Long">
        delete from psy_user_label where id = #{id}
    </delete>

    <delete id="deletePsyUserLabelByIds" parameterType="String">
        delete from psy_user_label where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>