<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.DeskBookingMapper">


    <sql id="selectDeskBookingVo">
        select * from t_desk_booking
    </sql>

    <select id="selectDeskBookingList" parameterType="DeskBooking" resultType="DeskBooking">
        <include refid="selectDeskBookingVo"/>
        <where>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="startTime != null "> and start_time >= #{startTime}</if>
            <if test="endTime != null "> and end_time  <![CDATA[<=]]>  #{endTime}</if>
            <if test="deskId != null "> and desk_id = #{deskId}</if>
            <if test="bookingUserName != null  and bookingUserName != ''"> and booking_user_name like concat('%', #{bookingUserName}, '%')</if>
            <if test="bookingUserMobile != null  and bookingUserMobile != ''"> and booking_user_mobile = #{bookingUserMobile}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
            <if test="updateById != null "> and update_by_id = #{updateById}</if>
        </where>
        order by  start_time asc
    </select>
    
    <select id="selectDeskBookingByDeskBookingId" parameterType="Long" resultType="DeskBooking">
        <include refid="selectDeskBookingVo"/>
        where desk_booking_id = #{deskBookingId}
    </select>



    <delete id="deleteDeskBookingByDeskBookingId" parameterType="Long">
        delete from t_desk_booking where desk_booking_id = #{deskBookingId}
    </delete>

    <delete id="deleteDeskBookingByDeskBookingIds" parameterType="String">
        delete from t_desk_booking where desk_booking_id in 
        <foreach item="deskBookingId" collection="array" open="(" separator="," close=")">
            #{deskBookingId}
        </foreach>
    </delete>
</mapper>