<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.DeskPriceMapper">


    <sql id="selectDeskPriceVo">
        select a.*,b.name as desk_type_name
        from t_desk_price a left join t_desk_type b on a.desk_type=b.desk_type_id
    </sql>

    <select id="selectDeskPriceList" parameterType="DeskPrice" resultType="DeskPrice">
        <include refid="selectDeskPriceVo"/>
        <where>  
            <if test="deskType != null "> and a.desk_type = #{deskType}</if>
            <if test="storeId != null "> and a.store_id = #{storeId}</if>
        </where>
    </select>
    
    <select id="selectDeskPriceByDeskPriceId" parameterType="Long" resultType="DeskPrice">
        <include refid="selectDeskPriceVo"/>
        where desk_price_id = #{deskPriceId}
    </select>

    <delete id="deleteDeskPriceByDeskPriceId" parameterType="Long">
        delete from t_desk_price where desk_price_id = #{deskPriceId}
    </delete>

    <delete id="deleteDeskPriceByDeskPriceIds" parameterType="String">
        delete from t_desk_price where desk_price_id in 
        <foreach item="deskPriceId" collection="array" open="(" separator="," close=")">
            #{deskPriceId}
        </foreach>
    </delete>
</mapper>