<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.GoodsMapper">


    <sql id="selectGoodsVo">
        select a.*, b.goods_category_name
        from t_goods a
                 left join t_goods_category b on a.category_id = b.goods_category_id
    </sql>

    <select id="selectGoodsList" parameterType="Goods" resultType="Goods">
        <include refid="selectGoodsVo"/>
        <where>
            <if test="storeId != null ">and a.store_id = #{storeId}</if>
            <if test="goodsName != null  and goodsName != ''">and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsImg != null  and goodsImg != ''">and goods_img = #{goodsImg}</if>
            <if test="sort != null ">and sort = #{sort}</if>
            <if test="barcode != null  and barcode != ''">and barcode like concat('%', #{barcode}, '%')</if>
            <if test="categoryId != null ">and category_id = #{categoryId}</if>
            <if test="sell != null ">and sell = #{sell}</if>
            <if test="price != null ">and price = #{price}</if>
        </where>
    </select>

    <select id="selectGoodsByGoodsId" parameterType="Long" resultType="Goods">
        <include refid="selectGoodsVo"/>
        where goods_id = #{goodsId}
    </select>



    <delete id="deleteGoodsByGoodsId" parameterType="Long">
        delete
        from t_goods
        where goods_id = #{goodsId}
    </delete>

    <delete id="deleteGoodsByGoodsIds" parameterType="String">
        delete from t_goods where goods_id in
        <foreach item="goodsId" collection="array" open="(" separator="," close=")">
            #{goodsId}
        </foreach>
    </delete>
</mapper>