<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.LightTimerMapper">


    <sql id="selectLightTimerVo">
        select a.*,b.desk_num
        from t_light_timer a left join t_store_desk b on a.desk_id=b.desk_id
    </sql>

    <select id="selectLightTimerList" parameterType="LightTimer" resultType="LightTimer">
        <include refid="selectLightTimerVo"/>
        <where>
            <if test="startTime != null ">and a.start_time >= #{startTime}</if>
            <if test="endTime != null ">and a.end_time<![CDATA[<=]]> #{endTime}</if>
            <if test="deskId != null ">and a.desk_id = #{deskId}</if>
            <if test="orderId != null ">and a.order_id = #{orderId}</if>
            <if test="lightType != null ">and a.light_type = #{lightType}</if>
            <if test="enable != null ">and a.enable = #{enable}</if>
            <if test="storeId != null ">and a.store_id = #{storeId}</if>
        </where>
    </select>

    <select id="selectLightTimerByLightTimerId" parameterType="Long" resultType="LightTimer">
        <include refid="selectLightTimerVo"/>
        where light_timer_id = #{lightTimerId}
    </select>




</mapper>