<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.MemberMapper">
    


    <sql id="selectMemberVo">
        select  a.*,b.store_name
        from t_member a  left join  t_store b on a.store_id=b.store_id
    </sql>

    <select id="selectMemberList" parameterType="Member" resultType="com.ruoyi.billiard.domain.Member">
        <include refid="selectMemberVo"/>
        <where>  
            <if test="realName != null  and realName != ''"> and a.real_name like concat('%', #{realName}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile like concat('%', #{mobile}, '%')</if>
            <if test="storeId != null "> and a.store_id = #{storeId}</if>
            <if test="sex != null  and sex != ''"> and a.sex = #{sex}</if>
            <if test="levelId != null "> and a.level_id = #{levelId}</if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="keyword != null  and keyword != ''"> and (a.real_name like concat('%', #{keyword}, '%') or a.mobile like concat('%', #{keyword}, '%'))</if>
        </where>
    </select>
    
    <select id="selectMemberByMemberId" parameterType="Long" resultType="com.ruoyi.billiard.domain.Member">
        <include refid="selectMemberVo"/>
        where member_id = #{memberId}
    </select>
    <select id="selectMemberPermissions" resultType="com.ruoyi.billiard.domain.LevelDiscountPermission">
        select c.*
        from t_member a
        join t_level_discount_permission c on a.level_id=c.member_level_id where a.member_id=#{memberId}
    </select>

    <select id="selectDiscountByType" resultType="BigDecimal">
        select c.discount
        from t_member a
                 join t_level_discount_permission c on a.level_id=c.member_level_id
        where c.value=#{type} and  a.member_id=#{memberId}
    </select>


    <delete id="deleteMemberByMemberId" parameterType="Long">
        delete from t_member where member_id = #{memberId}
    </delete>

    <delete id="deleteMemberByMemberIds" parameterType="String">
        delete from t_member where member_id in
        <foreach item="memberId" collection="array" open="(" separator="," close=")">
            #{memberId}
        </foreach>
    </delete>
</mapper>