<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.OrderGoodsMapper">
    
    <resultMap type="OrderGoods" id="OrderGoodsResult">
        <result property="orderDetailId"    column="order_detail_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="deskId"    column="desk_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="price"    column="price"    />
        <result property="num"    column="num"    />
        <result property="totalAmountDue"    column="total_amount_due"    />
        <result property="totalDiscountAmount"    column="total_discount_amount"    />
        <result property="totalAmount"    column="total_amount"    />
        <result property="totalGiveAmount"    column="total_give_amount"    />
        <result property="discountValue"    column="discount_value"    />
        <result property="totalWipeZero"    column="total_wipe_zero"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="createById"    column="create_by_id"    />
        <result property="updateById"    column="update_by_id"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderGoodsVo">
        select order_detail_id, order_id, desk_id, goods_id, goods_name, price, num, total_amount_due, total_discount_amount, total_amount, total_give_amount, discount_value, total_wipe_zero, remark, create_by, create_time, update_by, create_by_id, update_by_id, update_time from t_order_goods
    </sql>

    <select id="selectOrderGoodsList" parameterType="OrderGoods" resultMap="OrderGoodsResult">
        <include refid="selectOrderGoodsVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="deskId != null "> and desk_id = #{deskId}</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodsName != null "> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="totalAmountDue != null "> and total_amount_due = #{totalAmountDue}</if>
            <if test="totalGiveAmount != null "> and total_give_amount = #{totalGiveAmount}</if>
            <if test="totalDiscountAmount != null "> and total_discount_amount = #{totalDiscountAmount}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="discountValue != null "> and discount_value = #{discountValue}</if>
            <if test="totalWipeZero != null "> and total_wipe_zero = #{totalWipeZero}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
            <if test="updateById != null "> and update_by_id = #{updateById}</if>
        </where>
    </select>
    
    <select id="selectOrderGoodsByOrderDetailId" parameterType="Long" resultMap="OrderGoodsResult">
        <include refid="selectOrderGoodsVo"/>
        where order_detail_id = #{orderDetailId}
    </select>

    <insert id="insertOrderGoods" parameterType="OrderGoods">
        insert into t_order_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderDetailId != null">order_detail_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="deskId != null">desk_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName != null">goods_name,</if>
            <if test="price != null">price,</if>
            <if test="num != null">num,</if>
            <if test="totalAmountDue != null">total_amount_due,</if>
            <if test="totalDiscountAmount != null">total_discount_amount,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="totalGiveAmount != null">total_give_amount,</if>
            <if test="discountValue != null">discount_value,</if>
            <if test="totalWipeZero != null">total_wipe_zero,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="createById != null">create_by_id,</if>
            <if test="updateById != null">update_by_id,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderDetailId != null">#{orderDetailId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="deskId != null">#{deskId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsName != null">#{goodsName},</if>
            <if test="price != null">#{price},</if>
            <if test="num != null">#{num},</if>
            <if test="totalAmountDue != null">#{totalAmountDue},</if>
            <if test="totalDiscountAmount != null">#{totalDiscountAmount},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="totalGiveAmount != null">#{totalGiveAmount},</if>
            <if test="discountValue != null">#{discountValue},</if>
            <if test="totalWipeZero != null">#{totalWipeZero},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="createById != null">#{createById},</if>
            <if test="updateById != null">#{updateById},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrderGoods" parameterType="OrderGoods">
        update t_order_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="deskId != null">desk_id = #{deskId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsName != null">goods_name = #{goodsName},</if>
            <if test="price != null">price = #{price},</if>
            <if test="num != null">num = #{num},</if>
            <if test="totalAmountDue != null">total_amount_due = #{totalAmountDue},</if>
            <if test="totalDiscountAmount != null">total_discount_amount = #{totalDiscountAmount},</if>
            <if test="totalAmount != null">total_amount = #{totalAmount},</if>
            <if test="totalGiveAmount != null">total_give_amount = #{totalGiveAmount},</if>
            <if test="discountValue != null">discount_value = #{discountValue},</if>
            <if test="totalWipeZero != null">total_wipe_zero = #{totalWipeZero},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="createById != null">create_by_id = #{createById},</if>
            <if test="updateById != null">update_by_id = #{updateById},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where order_detail_id = #{orderDetailId}
    </update>

    <delete id="deleteOrderGoodsByOrderDetailId" parameterType="Long">
        delete from t_order_goods where order_detail_id = #{orderDetailId}
    </delete>

    <delete id="deleteOrderGoodsByOrderDetailIds" parameterType="String">
        delete from t_order_goods where order_detail_id in 
        <foreach item="orderDetailId" collection="array" open="(" separator="," close=")">
            #{orderDetailId}
        </foreach>
    </delete>
</mapper>