<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.OrderTutorTimeMapper">


    <sql id="selectOrderTutorTimeVo">
        select  a.*
        from t_order_tutor_time a
    </sql>

    <select id="selectOrderTutorTimeList" parameterType="OrderTutorTime" resultType="OrderTutorTime">
        <include refid="selectOrderTutorTimeVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="deskId != null "> and desk_id = #{deskId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="totalTime != null "> and total_time = #{totalTime}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
            <if test="updateById != null "> and update_by_id = #{updateById}</if>
            <if test="tutorId != null "> and tutor_id = #{tutorId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectOrderGoodsStatistics" resultType="java.util.Map">
        SELECT COUNT(1) as count, COALESCE(SUM(a.total_amount), 0) as totalAmount
        FROM t_order_tutor_time a INNER JOIN t_order b ON a.order_id = b.order_id
        <where>
            <if test="status != null "> and b.status = #{status}</if>
            <if test="storeId != null"> and b.store_id = #{storeId}</if>
            <if test="startTime != null and endTime != null"> and b.create_time between #{startTime} and #{endTime}</if>
        </where>
        ORDER BY b.create_time DESC
    </select>
    <select id="selectWorkedCount" resultType="java.lang.Long">
        SELECT count(distinct a.tutor_id)
        FROM t_order_tutor_time a
                 INNER JOIN t_order b ON a.order_id = b.order_id
        where b.status = 2
          and b.store_id = #{storeId}
          and b.create_time >= #{startTime}


    </select>
</mapper>