<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.OrderMemberDeductMapper">
    


    <sql id="selectOrderMemberDeductVo">
        select *
        from t_order_member_deduct
    </sql>

    <select id="selectOrderMemberDeductList" parameterType="OrderMemberDeduct" resultType="OrderMemberDeduct">
        <include refid="selectOrderMemberDeductVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
        </where>
    </select>
    
    <select id="selectOrderMemberDeductByOrderMemberDeductId" parameterType="Long" resultType="OrderMemberDeduct">
        <include refid="selectOrderMemberDeductVo"/>
        where order_member_deduct_id = #{orderMemberDeductId}
    </select>
    <select id="queryTotal" resultType="java.math.BigDecimal">
        SELECT sum(a.total_amount)
        FROM t_order_member_deduct a
                 INNER JOIN t_order b ON a.order_id = b.order_id
        where b.status = 2
          and b.store_id = #{storeId}
          and b.create_time >= #{startTime}
    </select>



    <delete id="deleteOrderMemberDeductByOrderMemberDeductId" parameterType="Long">
        delete from t_order_member_deduct where order_member_deduct_id = #{orderMemberDeductId}
    </delete>

    <delete id="deleteOrderMemberDeductByOrderMemberDeductIds" parameterType="String">
        delete from t_order_member_deduct where order_member_deduct_id in 
        <foreach item="orderMemberDeductId" collection="array" open="(" separator="," close=")">
            #{orderMemberDeductId}
        </foreach>
    </delete>
</mapper>