<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.OrderDeskTimeMapper">
    


    <sql id="selectOrderDeskTimeVo">
        select *  from t_order_desk_time
    </sql>

    <select id="selectOrderDeskTimeList" parameterType="OrderDeskTime" resultType="OrderDeskTime">
        <include refid="selectOrderDeskTimeVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="deskId != null "> and desk_id = #{deskId}</if>
            <if test="fromDeskId != null "> and from_desk_id = #{fromDeskId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="totalTime != null "> and total_time = #{totalTime}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="totalAmountDue != null "> and total_amount_due = #{totalAmountDue}</if>
            <if test="totalDiscountAmount != null "> and total_discount_amount = #{totalDiscountAmount}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="totalGiveAmount != null "> and total_give_amount = #{totalGiveAmount}</if>
            <if test="discountValue != null "> and discount_value = #{discountValue}</if>
            <if test="totalWipeZero != null "> and total_wipe_zero = #{totalWipeZero}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
            <if test="updateById != null "> and update_by_id = #{updateById}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectOrderDeskTimeByOrderDeskTimeId" parameterType="Long" resultType="OrderDeskTime">
        <include refid="selectOrderDeskTimeVo"/>
        where order_desk_time_id = #{orderDeskTimeId}
    </select>

    <select id="selectOrderDeskTimeStatistics" resultType="java.util.Map">
        SELECT COUNT(1) as count, COALESCE(SUM(a.total_amount), 0) as totalAmount
        FROM t_order_desk_time a INNER JOIN t_order b ON a.order_id = b.order_id
        <where>
            <if test="status != null "> and b.status = #{status}</if>
            <if test="storeId != null"> and b.store_id = #{storeId}</if>
            <if test="startTime != null and endTime != null"> and b.create_time between #{startTime} and #{endTime}</if>
        </where>
        ORDER BY b.create_time DESC

    </select>
    <select id="selectDeskByOrderIds" resultType="com.ruoyi.billiard.domain.StoreDesk">
        select a.desk_id,a.desk_num ,a.desk_name,c.name as desk_type_name ,d.name as place_type_name , b.order_id as
        current_order_id from t_store_desk a join t_order_desk_time b on a.desk_id=b.desk_id
        join t_desk_type c on a.desk_type=c.desk_type_id
        join t_desk_place d on d.desk_place_id=a.place_type
        where b.order_id in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>

    </select>
    <select id="getDeskCalcTimes" resultType="com.ruoyi.common.core.domain.model.KeyValueVo">
        select  convert(ceil(sum(timestampdiff(second ,start_time,now()))/60),signed  )  as value, order_id as label ,desk_id as `key`
        from t_order_desk_time where order_id in
        <foreach item="id" collection="orderIds" open="(" separator="," close=")">
            #{id}
        </foreach>
        group by  order_id,desk_id
    </select>
</mapper>