<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.OrderDeskTimeMapper">
    


    <sql id="selectOrderDeskTimeVo">
        select *  from t_order_desk_time
    </sql>

    <select id="selectOrderDeskTimeList" parameterType="OrderDeskTime" resultType="OrderDeskTime">
        <include refid="selectOrderDeskTimeVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="deskId != null "> and desk_id = #{deskId}</if>
            <if test="fromDeskId != null "> and from_desk_id = #{fromDeskId}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="totalTime != null "> and total_time = #{totalTime}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="totalAmountDue != null "> and total_amount_due = #{totalAmountDue}</if>
            <if test="totalDiscountAmount != null "> and total_discount_amount = #{totalDiscountAmount}</if>
            <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
            <if test="totalGiveAmount != null "> and total_give_amount = #{totalGiveAmount}</if>
            <if test="discountValue != null "> and discount_value = #{discountValue}</if>
            <if test="totalWipeZero != null "> and total_wipe_zero = #{totalWipeZero}</if>
            <if test="createById != null "> and create_by_id = #{createById}</if>
            <if test="updateById != null "> and update_by_id = #{updateById}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectOrderDeskTimeByOrderDeskTimeId" parameterType="Long" resultType="OrderDeskTime">
        <include refid="selectOrderDeskTimeVo"/>
        where order_desk_time_id = #{orderDeskTimeId}
    </select>


</mapper>