<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.StockMapper">



    <sql id="selectStockVo">
        select  a.*,b.goods_img,b.category_id
        from t_stock a left join  t_goods b on a.goods_id=b.goods_id
    </sql>

    <select id="selectStockList" parameterType="Stock" resultType="Stock">
        select  a.*,b.goods_img,b.category_id
        from t_stock a left join  t_goods b on a.goods_id=b.goods_id
        <where>
            <if test="goodsId != null "> and  a.goods_id = #{goodsId}</if>
            <if test="goodsName != null  and goodsName != ''"> and a.goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="storeId != null "> and  a.store_id = #{storeId}</if>

            <if test="lastCheckPointId != null "> and last_check_point_id = #{lastCheckPointId}</if>

        </where>
        order by stock_id desc
    </select>

    <select id="selectStockByStockId" parameterType="Long" resultType="Stock">
        <include refid="selectStockVo"/>
        where stock_id = #{stockId}
    </select>



    <delete id="deleteStockByStockId" parameterType="Long">
        delete from t_stock where stock_id = #{stockId}
    </delete>

    <delete id="deleteStockByStockIds" parameterType="String">
        delete from t_stock where stock_id in
        <foreach item="stockId" collection="array" open="(" separator="," close=")">
            #{stockId}
        </foreach>
    </delete>
</mapper>