<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.StoreUserMapper">
    
    <resultMap type="StoreUser" id="StoreUserResult">
        <result property="storeUserId"    column="store_user_id"    />
        <result property="realName"    column="real_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="sex"    column="sex"    />
        <result property="userImg"    column="user_img"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="loginUserId"    column="login_user_id"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectStoreUserVo">
        select store_user_id, real_name,sex, mobile, user_img, status, del_flag, create_by, create_time, update_by, update_time, login_user_id, remark from t_store_user
    </sql>

    <select id="selectStoreUserList" parameterType="StoreUser" resultMap="StoreUserResult">
        <include refid="selectStoreUserVo"/>
        <where>  
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="userImg != null  and userImg != ''"> and user_img = #{userImg}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="loginUserId != null "> and login_user_id = #{loginUserId}</if>
        </where>
    </select>
    
    <select id="selectStoreUserByStoreUserId" parameterType="Long" resultMap="StoreUserResult">
        <include refid="selectStoreUserVo"/>
        where store_user_id = #{storeUserId}
    </select>
    <select id="selectRoleIds" resultType="java.lang.Long">
        select role_id
        from sys_user_role where user_id=#{loginUserId};
    </select>
    <select id="selectRoleIdsByUserIds" resultType="com.ruoyi.common.core.domain.model.KeyValueVo">

        select user_id as `key`,role_id as value
        from sys_user_role where user_id in
         <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="insertStoreUser" parameterType="StoreUser">
        insert into t_store_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeUserId != null">store_user_id,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="userImg != null and userImg != ''">user_img,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="loginUserId != null">login_user_id,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeUserId != null">#{storeUserId},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="userImg != null and userImg != ''">#{userImg},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="loginUserId != null">#{loginUserId},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateStoreUser" parameterType="StoreUser">
        update t_store_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="userImg != null and userImg != ''">user_img = #{userImg},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="loginUserId != null">login_user_id = #{loginUserId},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where store_user_id = #{storeUserId}
    </update>

    <delete id="deleteStoreUserByStoreUserId" parameterType="Long">
        delete from t_store_user where store_user_id = #{storeUserId}
    </delete>

    <delete id="deleteStoreUserByStoreUserIds" parameterType="String">
        delete from t_store_user where store_user_id in 
        <foreach item="storeUserId" collection="array" open="(" separator="," close=")">
            #{storeUserId}
        </foreach>
    </delete>
</mapper>