<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.StoreTutorMapper">
    
    <resultMap type="StoreTutor" id="StoreTutorResult">
        <result property="storeTutorId"    column="store_tutor_id"    />
        <result property="realName"    column="real_name"    />
        <result property="mobile"    column="mobile"    />
        <result property="userImg"    column="user_img"    />
        <result property="sex"    column="sex"    />
        <result property="level"    column="level"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="loginUserId"    column="login_user_id"    />
        <result property="remark"    column="remark"    />
        <result property="storeId"    column="store_id"    />
        <result property="storeName"    column="store_name"    />
        <result property="aptitude"    column="aptitude"    />

    </resultMap>

    <sql id="selectStoreTutorVo">
        select a.*,b.store_name
        from t_store_tutor  a left join   t_store b on a.store_id=b.store_id
    </sql>

    <select id="selectStoreTutorList" parameterType="StoreTutor" resultMap="StoreTutorResult">
        <include refid="selectStoreTutorVo"/>
        <where>  
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and mobile = #{mobile}</if>
            <if test="userImg != null  and userImg != ''"> and user_img = #{userImg}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="loginUserId != null "> and login_user_id = #{loginUserId}</if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
        </where>
    </select>
    
    <select id="selectStoreTutorByStoreTutorId" parameterType="Long" resultMap="StoreTutorResult">
        <include refid="selectStoreTutorVo"/>
        where store_tutor_id = #{storeTutorId}
    </select>

    <insert id="insertStoreTutor" parameterType="StoreTutor">
        insert into t_store_tutor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="storeTutorId != null">store_tutor_id,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="userImg != null and userImg != ''">user_img,</if>
            <if test="sex != null">sex,</if>
            <if test="level != null">level,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="loginUserId != null">login_user_id,</if>
            <if test="remark != null">remark,</if>
            <if test="storeId != null">store_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="storeTutorId != null">#{storeTutorId},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="userImg != null and userImg != ''">#{userImg},</if>
            <if test="sex != null">#{sex},</if>
            <if test="level != null">#{level},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="loginUserId != null">#{loginUserId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="storeId != null">#{storeId},</if>
         </trim>
    </insert>

    <update id="updateStoreTutor" parameterType="StoreTutor">
        update t_store_tutor
        <trim prefix="SET" suffixOverrides=",">
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="userImg != null and userImg != ''">user_img = #{userImg},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="level != null">level = #{level},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="loginUserId != null">login_user_id = #{loginUserId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="aptitude != null">aptitude = #{aptitude},</if>

        </trim>
        where store_tutor_id = #{storeTutorId}
    </update>

    <delete id="deleteStoreTutorByStoreTutorId" parameterType="Long">
        delete from t_store_tutor where store_tutor_id = #{storeTutorId}
    </delete>

    <delete id="deleteStoreTutorByStoreTutorIds" parameterType="String">
        delete from t_store_tutor where store_tutor_id in 
        <foreach item="storeTutorId" collection="array" open="(" separator="," close=")">
            #{storeTutorId}
        </foreach>
    </delete>
</mapper>