<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.StoreSwapRecordMapper">


    <sql id="selectStoreSwapRecordVo">
        select * from t_store_swap_record
    </sql>

    <select id="selectStoreSwapRecordList" parameterType="StoreSwapRecord" resultType="StoreSwapRecord">
        <include refid="selectStoreSwapRecordVo"/>
        <where>  

            <if test="scheduleDay != null "> and schedule_day = #{scheduleDay}</if>
            <if test="startTime != null  and endTime != null "> and schedule_day  between #{startTime} and #{endTime}</if>
            <if test="storeId != null "> and store_id = #{storeId}</if>
            <if test="user != null and user!=''"> and create_by  like concat('%',#{user},'%')</if>
        </where>
        order by schedule_day desc
    </select>
    
    <select id="selectStoreSwapRecordBySwapRecordId" parameterType="Long" resultType="StoreSwapRecord">
        <include refid="selectStoreSwapRecordVo"/>
        where swap_record_id = #{swapRecordId}
    </select>



    <delete id="deleteStoreSwapRecordBySwapRecordId" parameterType="Long">
        delete from t_store_swap_record where swap_record_id = #{swapRecordId}
    </delete>

    <delete id="deleteStoreSwapRecordBySwapRecordIds" parameterType="String">
        delete from t_store_swap_record where swap_record_id in 
        <foreach item="swapRecordId" collection="array" open="(" separator="," close=")">
            #{swapRecordId}
        </foreach>
    </delete>
</mapper>