<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.StoreDeskMapper">
    


    <sql id="selectStoreDeskVo">
        select a.*, b.store_name, f.price, d.name as place_type_name, e.name as desk_type_name
        from t_store_desk a
                 join t_store b on a.store_id = b.store_id

                 left join t_desk_price f on a.desk_type = f.desk_type and a.store_id = f.store_id
                 left join t_desk_place d on a.place_type = d.desk_place_id
                 left join t_desk_type e on a.desk_type = e.desk_type_id
    </sql>

    <select id="selectStoreDeskList" parameterType="StoreDesk" resultType="StoreDesk">
        <include refid="selectStoreDeskVo"/>

        ${ew.customSqlSegment}
    </select>
    
    <select id="selectStoreDeskByDeskId" parameterType="Long" resultType="StoreDesk">
        <include refid="selectStoreDeskVo"/>
        where desk_id = #{deskId}
    </select>
    <select id="selectStoreByLoginUserId" resultType="com.ruoyi.billiard.domain.Store">
        select distinct a.*
        from t_store a join t_store_user b  on  a.store_id=b.store_id where b.login_user_id=#{loginUserId};
    </select>
    <select id="checkDeviceBind" resultType="java.lang.Integer">
        select  1 from t_desk_device_relation a where (  desk_id=#{deviceId})
        <if test="deskId != null"> and  desk_id not in (#{deskId}) </if>

    </select>
    <select id="queryDeskCountGroupByStatus" resultType="com.ruoyi.common.core.domain.model.KeyValueVo">

        select count(1)                                                                                   as value,
               status                                                                                     as `key`,
               case status when 0 then '空闲' when 1 then '计费中' when 2 then '已暂停' else '已停止' end as label
        from t_store_desk where  store_id=#{storeId}
        group by status
        order by status;
    </select>
    <select id="deskInUse" resultType="java.lang.Integer">

        select 1
        from t_order_desk_time
        where desk_id = #{deskId}
          and end_time is null
        limit 1;
    </select>
    <select id="queryBusyDeskByOrderId" resultType="com.ruoyi.billiard.domain.StoreDesk">

        select a.*
        from t_store_desk a
        where a.desk_id in (select desk_id
                             from t_order_desk_time b
                             where b.status = 1
                               and b.order_id = #{orderId})
    </select>


    <delete id="deleteStoreDeskByDeskId" parameterType="Long">
        delete from t_store_desk where desk_id = #{deskId}
    </delete>

    <delete id="deleteStoreDeskByDeskIds" parameterType="String">
        delete from t_store_desk where desk_id in 
        <foreach item="deskId" collection="array" open="(" separator="," close=")">
            #{deskId}
        </foreach>
    </delete>
</mapper>