<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.billiard.mapper.StoreDeskMapper">
    
    <resultMap type="StoreDesk" id="StoreDeskResult">
        <result property="deskId"    column="desk_id"    />
        <result property="deskName"    column="desk_name"    />
        <result property="deskNum"    column="desk_num"    />
        <result property="deskType"    column="desk_type"    />
        <result property="placeType"    column="place_type"    />
        <result property="storeId"    column="store_id"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="lightDeviceId"    column="light_device_id"    />
        <result property="cameraDeviceId"    column="camera_device_id"    />
        <result property="storeName"    column="store_name"    />
    </resultMap>

    <sql id="selectStoreDeskVo">
        select   a.*,b.store_name from t_store_desk a join  t_store b on a.store_id=b.store_id
    </sql>

    <select id="selectStoreDeskList" parameterType="StoreDesk" resultMap="StoreDeskResult">
        <include refid="selectStoreDeskVo"/>
        <where>  
            <if test="deskName != null  and deskName != ''"> and desk_name like concat('%', #{deskName}, '%')</if>
            <if test="deskNum != null "> and desk_num = #{deskNum}</if>
            <if test="deskType != null "> and desk_type = #{deskType}</if>
            <if test="placeType != null "> and place_type = #{placeType}</if>
            <if test="storeId != null "> and a.store_id = #{storeId}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="lightDeviceId != null "> and light_device_id = #{lightDeviceId}</if>
            <if test="cameraDeviceId != null "> and camera_device_id = #{cameraDeviceId}</if>
        </where>
    </select>
    
    <select id="selectStoreDeskByDeskId" parameterType="Long" resultMap="StoreDeskResult">
        <include refid="selectStoreDeskVo"/>
        where desk_id = #{deskId}
    </select>
    <select id="selectStoreByLoginUserId" resultType="com.ruoyi.billiard.domain.Store">
        select a.*
        from t_store a join t_store_user b  on  a.store_id=b.store_id where b.login_user_id=#{loginUserId};
    </select>

    <insert id="insertStoreDesk" parameterType="StoreDesk">
        insert into t_store_desk
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deskId != null">desk_id,</if>
            <if test="deskName != null and deskName != ''">desk_name,</if>
            <if test="deskNum != null">desk_num,</if>
            <if test="deskType != null">desk_type,</if>
            <if test="placeType != null">place_type,</if>
            <if test="storeId != null">store_id,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="lightDeviceId != null">light_device_id,</if>
            <if test="cameraDeviceId != null">camera_device_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deskId != null">#{deskId},</if>
            <if test="deskName != null and deskName != ''">#{deskName},</if>
            <if test="deskNum != null">#{deskNum},</if>
            <if test="deskType != null">#{deskType},</if>
            <if test="placeType != null">#{placeType},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="lightDeviceId != null">#{lightDeviceId},</if>
            <if test="cameraDeviceId != null">#{cameraDeviceId},</if>
         </trim>
    </insert>

    <update id="updateStoreDesk" parameterType="StoreDesk">
        update t_store_desk
        <trim prefix="SET" suffixOverrides=",">
            <if test="deskName != null and deskName != ''">desk_name = #{deskName},</if>
            <if test="deskNum != null">desk_num = #{deskNum},</if>
            <if test="deskType != null">desk_type = #{deskType},</if>
            <if test="placeType != null">place_type = #{placeType},</if>
            <if test="storeId != null">store_id = #{storeId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="lightDeviceId != null">light_device_id = #{lightDeviceId},</if>
            <if test="cameraDeviceId != null">camera_device_id = #{cameraDeviceId},</if>
        </trim>
        where desk_id = #{deskId}
    </update>

    <delete id="deleteStoreDeskByDeskId" parameterType="Long">
        delete from t_store_desk where desk_id = #{deskId}
    </delete>

    <delete id="deleteStoreDeskByDeskIds" parameterType="String">
        delete from t_store_desk where desk_id in 
        <foreach item="deskId" collection="array" open="(" separator="," close=")">
            #{deskId}
        </foreach>
    </delete>
</mapper>