<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianyi.sim.mapper.NonuseWarningListMapper">
    
    <resultMap type="NonuseWarningList" id="NonuseWarningListResult">
        <result property="provId"    column="prov_id"    />
        <result property="provName"    column="prov_name"    />
        <result property="areaId"    column="area_id"    />
        <result property="areaName"    column="area_name"    />
        <result property="custId"    column="cust_id"    />
        <result property="custName"    column="cust_name"    />
        <result property="prodInstId"    column="prod_inst_id"    />
        <result property="accNbr"    column="acc_nbr"    />
        <result property="mainOfferName"    column="main_offer_name"    />
        <result property="netStyle"    column="net_style"    />
        <result property="noUseDur"    column="no_use_dur"    />
        <result property="yyyymmdd"    column="yyyymmdd"    />
    </resultMap>

    <select id="selectNonuseWarningListList" parameterType="NonuseWarningList" resultMap="NonuseWarningListResult">
        select prov_id, prov_name, area_id, area_name, cust_id, cust_name, prod_inst_id, acc_nbr, main_offer_name, net_style, no_use_dur, yyyymmdd
        from nonuse_warning_list
        where
            area_name='潍坊市'
            and cust_name in('金卡智能集团股份有限公司','杭州先锋电子技术股份有限公司','上海真兰仪表科技股份有限公司','浙江威星智能仪表股份有限公司','成都千嘉科技股份有限公司')
            <if test="provId != null "> and prov_id = #{provId}</if>
            <if test="provName != null  and provName != ''"> and prov_name like concat('%', #{provName}, '%')</if>
            <if test="areaId != null "> and area_id = #{areaId}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="custId != null "> and cust_id = #{custId}</if>
            <if test="custName != null  and custName != ''"> and cust_name like concat('%', #{custName}, '%')</if>
            <if test="prodInstId != null "> and prod_inst_id = #{prodInstId}</if>
            <if test="accNbr != null "> and acc_nbr = #{accNbr}</if>
            <if test="mainOfferName != null  and mainOfferName != ''"> and main_offer_name like concat('%', #{mainOfferName}, '%')</if>
            <if test="netStyle != null  and netStyle != ''"> and net_style = #{netStyle}</if>
            <if test="noUseDur != null  and noUseDur != ''"> and no_use_dur >= ${noUseDur}</if>
            <if test="yyyymmdd != null  and yyyymmdd != ''"> and yyyymmdd = #{yyyymmdd}</if>
    </select>
</mapper>