@import '@/assets/styles/variables.scss';

.line-up-container{
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  .el-tabs{
    height: calc(100% - 60px);
    position: relative;
    ::v-deep.el-tabs__content{
      height: 100%!important;
    }
  }
  .line-up-tabs{

    height:90%;overflow-y:auto;overflow-x:hidden;
  }
  .num-container{
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    flex-wrap: wrap;
    .num-item{
      width: calc( (100% - 10px)/2);
      display: flex;
      background-color: rgba(0,0,0,0.1);
      border-radius: 10px;
      align-items: center;
      padding : 10px;
      &:hover{
        background-color: $--color-primary;
        .num-item-text{
          color: #FFFFFF;
        }
      }
      &-text{
        flex: 1;
        padding-left: 20px;
        font-size: 20px;
        font-weight: bold;

      }
      &-btn{
        cursor: pointer;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
        height: 50px;
        width: 50px;
      }

    }
  }

  .line-up-footer{
     margin-top: auto;
     padding-top: 20px;
    background-color: #FFFFFF;

  }
}
